cpuTemp.json
[{"id":"924ad31e.215da","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"ed4e7bdb.d7f318","type":"function","z":"924ad31e.215da","name":"","func":"msg2={}\nmsg.payload={'temp':msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\")}\nflow.set('CPU_Temp',msg.payload.temp)\n//msg2.payload={topic:\"Sullar-5\"}\nreturn msg","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["9c13b6b3.e5a598","c1a323bc.8e3f9"]]},{"id":"9101d8b6.811908","type":"exec","z":"924ad31e.215da","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"CPU_Temp","x":290,"y":100,"wires":[["ed4e7bdb.d7f318"],[],[]]},{"id":"54d2d051.e5c7a","type":"inject","z":"924ad31e.215da","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":100,"wires":[["9101d8b6.811908"]]},{"id":"9c13b6b3.e5a598","type":"ui_gauge","z":"924ad31e.215da","name":"CPU TEMERATURE","group":"27ea106a.28f5c","order":2,"width":"6","height":"6","gtype":"gage","title":"CPU temp","label":"C","format":"{{payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":60,"wires":[]},{"id":"9d100cac.050c","type":"ui_chart","z":"924ad31e.215da","name":"TEMPERATURE","group":"27ea106a.28f5c","order":3,"width":"18","height":"6","label":"TEMPERATURE","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":120,"wires":[[]],"inputLabels":["payload.temp"]},{"id":"10e1c624.b4176a","type":"function","z":"924ad31e.215da","name":"","func":"var timestamp= new Date();\nvar time = timestamp.getTime()\nvar date = timestamp.getDate() + \"-\" + (timestamp.getMonth() + 1) + \"-\" + timestamp.getFullYear();\nvar Hr = timestamp.getHours() + \":\" + timestamp.getMinutes();\n\nmsg.payload = date+\",\"+Hr+\",\"+flow.get('CPU_Temp')\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["7823031e.fd8d2c","4294f24b.cc2a1c","200aecb2.024764"]]},{"id":"f651b06.19c9c5","type":"file","z":"924ad31e.215da","name":"Temp.csv","filename":"/home/pi/Desktop/Temp.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":940,"y":320,"wires":[[]]},{"id":"c1a323bc.8e3f9","type":"function","z":"924ad31e.215da","name":"","func":"msg.payload=msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["9d100cac.050c"]]},{"id":"582bcf92.91db","type":"inject","z":"924ad31e.215da","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"0.0","x":400,"y":340,"wires":[["10e1c624.b4176a"]]},{"id":"53e76ab6.0e25d4","type":"fs-ops-delete","z":"924ad31e.215da","name":"Delete Temp.csv","path":"","pathType":"str","filename":"/home/pi/Desktop/Temp.csv","filenameType":"str","x":270,"y":480,"wires":[["1f309d4a.ddff23"]]},{"id":"e8293dc7.e310e","type":"inject","z":"924ad31e.215da","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":420,"wires":[["53e76ab6.0e25d4"]]},{"id":"1f309d4a.ddff23","type":"debug","z":"924ad31e.215da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":440,"y":460,"wires":[]},{"id":"7823031e.fd8d2c","type":"debug","z":"924ad31e.215da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":540,"wires":[]},{"id":"4294f24b.cc2a1c","type":"file","z":"924ad31e.215da","name":"Temp.txt","filename":"/home/pi/Desktop/Temp.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":720,"y":280,"wires":[[]]},{"id":"1c09b24e.60b2ee","type":"exec","z":"924ad31e.215da","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reboot","x":410,"y":600,"wires":[[],[],[]]},{"id":"c9560b2f.cd72b8","type":"inject","z":"924ad31e.215da","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":600,"wires":[["1c09b24e.60b2ee"]]},{"id":"1160aa7.1a9d656","type":"inject","z":"924ad31e.215da","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":740,"wires":[["e73ef846.160488"]]},{"id":"e73ef846.160488","type":"function","z":"924ad31e.215da","name":"","func":"var ip=global.get('IP_Address')\nmsg.payload=\"http://\"+ip+\":1880/Temp.csv\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":740,"wires":[["77b55523.c3f47c"]]},{"id":"77b55523.c3f47c","type":"ui_template","z":"924ad31e.215da","group":"96cdcbe7.38b598","name":"Vib_temp_ csv","order":6,"width":"6","height":"2","format":"<!DOCTYPE html>\n<html>\n<body>\n    \n<md-button ng-style=\"{background: '#ed89d7', \n                      color:'black',\n                      padding: '10px',\n                      cursor: 'allowed'\n                      \n                      }\"\n\n    ng-click href=\"{{msg.payload}}\"\n>\n<i class=\"fa fa-download\"></i>\nDownload Temp.csv\n</md-button>\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":500,"y":740,"wires":[[]]},{"id":"10aeb501.39f1bb","type":"inject","z":"924ad31e.215da","name":"CSV BACKUP","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":860,"wires":[["ddc82b75.ca2988"]]},{"id":"ddc82b75.ca2988","type":"function","z":"924ad31e.215da","name":"","func":"var timestamp= new Date();\nvar Month=(timestamp.getMonth()+1);\nvar mon=[\"Jan\",\"Feb\",\"Mar\",\"Apr\",\"May\",\"June\",\"Jul\",\"Aug\",\"Sept\",\"Oct\",\"Nov\",\"Dec\"];\nif((Month-2)==-1)\n{\n    msg.month=\"Dec\"    \n}\nelse\n{\n    msg.month=mon[Month-2]\n}\nmsg.payload= Month;\n//node.warn(msg)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":860,"wires":[["4e6ae906.c9b8f8"]]},{"id":"4e6ae906.c9b8f8","type":"rbe","z":"924ad31e.215da","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":470,"y":860,"wires":[["631293e1.fd1e0c"]]},{"id":"631293e1.fd1e0c","type":"function","z":"924ad31e.215da","name":"","func":"var month=msg.month;\nmsg.payload=\"Temp_\"+month+\".csv\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":860,"wires":[["9004277b.689248"]]},{"id":"9004277b.689248","type":"fs-ops-move","z":"924ad31e.215da","name":"","sourcePath":"/home/pi/Desktop/","sourcePathType":"str","sourceFilename":"Temp.csv","sourceFilenameType":"str","destPath":"/home/pi/Desktop/","destPathType":"str","destFilename":"payload","destFilenameType":"msg","link":false,"x":720,"y":860,"wires":[[]]},{"id":"5728ff3a.410f5","type":"inject","z":"924ad31e.215da","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":2500,"wires":[["9f223424.57eeb8"]]},{"id":"9f223424.57eeb8","type":"function","z":"924ad31e.215da","name":"","func":"var ip=global.get('IP_Address')\nmsg.payload=\"http://\"+ip+\":1880/Vib_temp_Motor4.csv\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":2500,"wires":[["23d833d8.81619c"]]},{"id":"23d833d8.81619c","type":"ui_template","z":"924ad31e.215da","group":"121582ca.b9330d","name":"Vib_temp_ csv","order":6,"width":"6","height":"2","format":"<!DOCTYPE html>\n<html>\n<body>\n    \n<md-button ng-style=\"{background: '#ed89d7', \n                      color:'black',\n                      padding: '10px',\n                      cursor: 'allowed'\n                      \n                      }\"\n\n    ng-click href=\"{{msg.payload}}\"\n>\n<i class=\"fa fa-download\"></i>\nDownload Vib CSV\n</md-button>\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":630,"y":2500,"wires":[[]]},{"id":"3951ab0c.1e9364","type":"inject","z":"924ad31e.215da","name":"CSV BACKUP","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2660,"wires":[["9e406b09.f5bcc8"]]},{"id":"9e406b09.f5bcc8","type":"function","z":"924ad31e.215da","name":"","func":"var timestamp= new Date();\nvar Month=(timestamp.getMonth()+1);\nvar mon=[\"Jan\",\"Feb\",\"Mar\",\"Apr\",\"May\",\"June\",\"Jul\",\"Aug\",\"Sept\",\"Oct\",\"Nov\",\"Dec\"];\nif((Month-2)==-1)\n{\n    msg.month=\"Dec\"    \n}\nelse\n{\n    msg.month=mon[Month-2]\n}\nmsg.payload= Month;\n//node.warn(msg)\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2660,"wires":[["786cb9bf.81e768"]]},{"id":"786cb9bf.81e768","type":"rbe","z":"924ad31e.215da","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":620,"y":2660,"wires":[["550dcd.f303d234"]]},{"id":"550dcd.f303d234","type":"function","z":"924ad31e.215da","name":"","func":"var month=msg.month;\nmsg.payload=\"Vib_temp_Motor4_\"+month+\".csv\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":2660,"wires":[["78cef402.7629dc"]]},{"id":"78cef402.7629dc","type":"fs-ops-move","z":"924ad31e.215da","name":"","sourcePath":"/home/pi/Desktop/","sourcePathType":"str","sourceFilename":"Vib_temp_Motor4.csv","sourceFilenameType":"str","destPath":"/home/pi/Desktop/","destPathType":"str","destFilename":"payload","destFilenameType":"msg","link":false,"x":930,"y":2660,"wires":[[]]},{"id":"200aecb2.024764","type":"fs-ops-access","z":"924ad31e.215da","name":"File test","path":"","pathType":"str","filename":"/home/pi/Desktop/Temp.csv","filenameType":"str","read":true,"write":false,"throwerror":false,"x":740,"y":380,"wires":[["f651b06.19c9c5"],["45f8aba.331d354"]]},{"id":"45f8aba.331d354","type":"function","z":"924ad31e.215da","name":"StructTitleString","func":"msg.payload=\"Date\"+\",\"+\"Time\"+\",\"+\"temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":440,"wires":[["4f071ad7.55d6c4"]]},{"id":"4f071ad7.55d6c4","type":"file","z":"924ad31e.215da","name":"AddTitle","filename":"/home/pi/Desktop/Temp.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1080,"y":500,"wires":[[]]},{"id":"4458f21e.bc369c","type":"fs-ops-delete","z":"924ad31e.215da","name":"Delete Vib_temp.csv ","path":"","pathType":"str","filename":"/home/pi/Desktop/Temp.csv","filenameType":"str","x":375,"y":677,"wires":[["cc6bce99.b08ab"]]},{"id":"c48d079f.e148c8","type":"inject","z":"924ad31e.215da","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195,"y":677,"wires":[["4458f21e.bc369c"]]},{"id":"cc6bce99.b08ab","type":"debug","z":"924ad31e.215da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":680,"wires":[]},{"id":"27ea106a.28f5c","type":"ui_group","z":"","name":"CPU TEMPERATURE","tab":"2746cb26.a55e44","order":1,"disp":true,"width":"24","collapse":false},{"id":"96cdcbe7.38b598","type":"ui_group","z":"","name":"Vibration Monitoring System","tab":"2746cb26.a55e44","order":1,"disp":false,"width":"25","collapse":false},{"id":"121582ca.b9330d","type":"ui_group","z":"","name":"Vibration Monitoring System","tab":"","order":1,"disp":false,"width":"25","collapse":false},{"id":"2746cb26.a55e44","type":"ui_tab","z":"","name":"CPU_TEMPERATURE","icon":"dashboard","order":13,"disabled":false,"hidden":false}]