deleteCsv.json
[{"id":"8ba9569b.ced998","type":"fs-ops-delete","z":"c5cf7504.389608","name":"Delete csv","path":"/home/pi/Desktop/","pathType":"str","filename":"csvLog.csv","filenameType":"str","x":510,"y":880,"wires":[[]]},{"id":"efbe7589.6db568","type":"inject","z":"c5cf7504.389608","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":840,"wires":[["5c1124a4.47bf3c"]]},{"id":"5c1124a4.47bf3c","type":"ui_button","z":"c5cf7504.389608","name":"delete csv","group":"4dcbd716.03c458","order":4,"width":4,"height":1,"passthru":false,"label":"Delete csv","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"str","topic":"delete","x":340,"y":840,"wires":[["6883fd7f.024414","8ba9569b.ced998"]]},{"id":"a3af0fb6.52a71","type":"comment","z":"c5cf7504.389608","name":"Delete csv file","info":"","x":130,"y":800,"wires":[]},{"id":"6883fd7f.024414","type":"ui_toast","z":"c5cf7504.389608","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"csvLog.csv has been deleted","name":"delete notification","x":530,"y":780,"wires":[[]]},{"id":"4dcbd716.03c458","type":"ui_group","z":"","name":"Spindle Settings","tab":"3ca9a14e.418b2e","order":4,"disp":true,"width":"24","collapse":false},{"id":"3ca9a14e.418b2e","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false}]