dropdown table.json
[{"id":"37e8f49f.17607c","type":"inject","z":"5f43bff0.7c004","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["74d2dbfa.2925b4"]]},{"id":"74d2dbfa.2925b4","type":"file in","z":"5f43bff0.7c004","name":"Notification.txt","filename":"/home/pi/Desktop/Notification.txt","format":"utf8","chunk":false,"sendError":false,"x":340,"y":100,"wires":[["2182f171.1b61ae"]]},{"id":"5a8e5768.9b97b8","type":"function","z":"5f43bff0.7c004","name":"settings obj","func":"var Dropdown=global.get('ParaDrop');\nvar RecipDetails = msg.payload.RecipDetails\nvar NoOfRecip = msg.payload.NoOfRecip\nmsg.payload.Dropdown=Dropdown;\nmsg.payload={\"RecipDetails\":RecipDetails,\"NoOfRecip\":NoOfRecip,\"Dropdown\":Dropdown}\n//node.warn(Dropdown)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":100,"wires":[["abf8797.f0a8688","2713d623.302aea"]]},{"id":"c6c6e153.934b2","type":"file","z":"5f43bff0.7c004","name":"Notification.txt","filename":"/home/pi/Desktop/Notification.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1040,"y":100,"wires":[["db7dd6e9.fc0658","6950a271.06f6ec"]]},{"id":"6950a271.06f6ec","type":"function","z":"5f43bff0.7c004","name":"SetVal","func":"var data = msg.payload.RecipDetails;\nvar n = data.length;\n\nfor(var i =0; i<n;i++)\n{\n    var id = data[i].id\n    global.set(\"Low\"+id,data[i].Low)\n    global.set(\"LowCritical\"+id,data[i].LowCritical)\n    global.set(\"High\"+id,data[i].High)\n    global.set(\"HighCritical\"+id,data[i].HighCritical)\n    \n}\nnode.warn([global.get(\"Low2\"),global.get(\"LowCritical2\"),global.get(\"High2\"),global.get(\"HighCritical2\")])","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":140,"wires":[["db7dd6e9.fc0658"]]},{"id":"db7dd6e9.fc0658","type":"debug","z":"5f43bff0.7c004","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":100,"wires":[]},{"id":"abf8797.f0a8688","type":"debug","z":"5f43bff0.7c004","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"2182f171.1b61ae","type":"json","z":"5f43bff0.7c004","name":"","property":"payload","action":"","pretty":false,"x":510,"y":100,"wires":[["5a8e5768.9b97b8"]]},{"id":"2713d623.302aea","type":"ui_template","z":"5f43bff0.7c004","group":"63411033.8ade4","name":"Alert List","order":1,"width":"24","height":"24","format":"<html>\n<body>\n<style>\nbody{\n    background-image : url(\"/background9.jpg\");\n}\n    \n    input[type=text]{\n    \tbackground-color: white;\n    \ttext-align : center;\n    \tcolor : black;\n        border:none;\n        padding : 7px;\n    }\n    input[type=submit] {\n  background-color: #4CAF50;\n  color: white;\n  padding: 5px 7px;\n  text-align : center;\n  border: none;\n  border-radius: 1px;\n  cursor: allowed;\n  float: left;\n}\n\ninput[type=submit]:hover {\n  background-color: #45a049;\n}\ntable, tr, th, td {\n        \n        background-color: white;\n        border-collapse: collapse;\n\t\tborder: 1px solid black;\n\t\tcolor: black;\n\t\ttext-align: center;\n\t\tpadding: 1px;\n}\n\n input[type=number]{\n    background-color: white;\n    color : black;\n    text-align : center;\n    border : 1px solid #0093dc;\n    padding : 7px 6px;\n    text-align : center;\n    }  \n    th{\n\t  text-align : center;\n\t  color: white;\n\t  font-weight: normal;\n\t  font-family: candara;\n\t  font-size: 110%;\n\t  background-color: #097479;\n\t  padding : 7px 3px\n\t  }\n\t td {\n        \n        background-color: white;\n        border-collapse: collapse;\n\t\tborder: 1px solid black;\n\t\tcolor : black;\n\t\ttext-align : center;\n\t\tpadding: 1px;\n}\ntr, th, td \n{\n    width: 200px;\n}\n  \n</style>\n\n    \n<form id=\"MobileNoForm\"  ng-submit=\"submitlist()\" align=\"justify\">\n<br>\n<div padding: 5px;  margin: 5px; >\n<div class = \"addrow\">\n<div class = \"column\">\n\n\n<table id=\"mytable\" class=\"table table-bordered\">\n<thead>\n<tr>\n<th style=\"width:20% type='text' name ='Parametr' ;\">Parameter</th>\n<th style=\"width:20% type='text' name ='LowCritical';\">LowCritical</th>\n<th style=\"width:20% type='text' name ='Low';\">Low</th>\n<th style=\"width:20% type='text' name ='High';\">High</th>\n<th style=\"width:20% type='text' name ='HighCritical';\">HighCritical</th>\n<th style=\"width:30% type='text' name ='Code';\">Remove</th>\n</tr>\n</thead>\n<tbody align=\"center\">\n<tr ng-repeat=\"Details in recipients\">\n<!--<td><select id=\"sel\" name=\"Details.id{{$index}}\"  placeholder = \"-\" ng-model=\"Details.id\" required></select></td>-->\n <td>\n     <select id=\"EmpDropdown\" ng-model=\"Details.id\" >\n                        <!-- when user selects option from dropdown, value attrubite in option tag will receive the varible value assigned to it. This value will be passed to \"ng-model=\"your_variable\"\" and can be accessed\n                        in java script . another way of accessing it is using DOM:document.getElementById(\"Your Select ID\").value syntax -->\n                        <option ng-repeat=\"Tasklist in Drop\" value=\"{{Tasklist.id}}\" required >{{Tasklist.name}}\n                        <!--ng-repeat repeas html tag for each object in the list/array assigned to it -->\n                        </option>\n                    </select>\n                    </td>\n<td><input  type=\"number\" name=\"LowCritical{{$index}}\" placeholder = \"Enter LowCritical\" ng-model=\"Details.LowCritical\" required></td>\n<td><input  type=\"number\" name=\"Low{{$index}}\" placeholder = \"Enter Low\" ng-model=\"Details.Low\" required></td>\n<td><input  type=\"number\" name=\"High{{$index}}\" placeholder = \"Enter High\" ng-model=\"Details.High\" required></td>\n<td><input  type=\"number\" name=\"HighCritical{{$index}}\" placeholder = \"Enter HighCritical\" ng-model=\"Details.HighCritical\" required></td>\n                    \n<td><input type=\"button\" value=\"Remove\" ng-click=\"deleteDetails($index)\" ng-style=\"{background: '#ffc399', color:'black', border : '1px solid #0093dc', cursor: 'allowed'}\"></td>\n</tbody>\n</table>\n<br>\n<br>\n</div>\n</div>\n</div>\n<input type=\"submit\" class=\"btn btn-primary\" value=\"Submit\" ng-style=\"{float: 'right', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"/>   \n<input type=\"button\" name=\"NoOfRecip\"  value =\"Add Parameter\" ng-click=\"addRecipient()\" ng-style=\"{align:'right',float: 'left',background: '#7dcfff', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\">\n\n</form>\n<script>\nvar dropdata;\n\t (function(scope) {   \t\n  scope.$watch('msg', function(msg) {\n      console.log([\"msg\",msg]);\n    if (msg) {\n      $(\"#my_\"+scope.$id).html(msg.payload);\n    scope.data = angular.copy(msg.payload.RecipDetails);\n   scope.Drop = angular.copy(msg.payload.Dropdown);\n      scope.recipients = angular.copy(scope.data);\n    dropdata = angular.copy(scope.Drop);\n          \n    }\n \n      //var msg={\"payload\":{\"dropdata\" :(scope.dropdata)}};\n//scope.send(msg);\n  });\n\n\t scope.enabledEdit = [];\t\n//scope.data = [{ id:\"\",Low:\"\",LowCritical:\"\",High:\"\",HighCritical:\"\"}];\n  \n//scope.recipients = angular.copy(scope.data);\n\n\t\n\t    scope.addRecipient = function(){\n\t    \n\t    if(scope.recipients.length< 10)\n\t    {\n\tvar Details ={ id:\"\",Low:\"\",LowCritical:\"\",High:\"\",HighCritical:\"\"};\n\t\tscope.recipients.push(Details);\n\t\tscope.enabledEdit[scope.recipients.length-1]=true;\n\t\t}\n\t\telse\n\t\t{\n\talert(\"Only 10 entries allowed\");\n\t\t}\n}\n\t  scope.editDetails = function(index){\n\t  console.log(\"edit index\"+index);\n\t  scope.enabledEdit[index] = true;\n\t}\n\tscope.deleteDetails = function(index) {\n\t\tvar r = confirm(\"Are you sure you want to delete?\");\n  if (r == true) {\n    txt = \"You pressed OK!\";\n    scope.recipients.splice(index,1);\n    scope.submitlist();\n  } else {\n    txt = \"You pressed Cancel!\";\n  }\n  document.getElementById(\"demo\").innerHTML = txt;\n\t}\n\nscope.submitlist = function(){\n    \n    for(var i = 0 ; i < scope.recipients.length ; i++)\n    {\n        //window.confirm([\"for loopin sg=umbmit\"]);\n        scope.recipients[i].GenCode = dropdata[scope.recipients[i].id].code;\n    }\n//window.confirm([\"above msg\"]);\nvar msg={\"payload\":{\"RecipDetails\" :(scope.recipients),\"NoOfRecip\":(scope.recipients.length),\"Dropdown\":(scope.Drop)}};//,\"SetVal\":(dropdata[scope.recipients[0].Value]\n//window.confirm([\"msg\",msg]);\nscope.send(msg);\nwindow.confirm(\"Data Saved\");\nconsole.log([\"form submitted:\",(msg)]);\n\n}\n})(scope);\n</script>            \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":830,"y":100,"wires":[["c6c6e153.934b2"]]},{"id":"8f3a70b5.7cc03","type":"inject","z":"5f43bff0.7c004","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["ad45d81c.661c98"]]},{"id":"ad45d81c.661c98","type":"function","z":"5f43bff0.7c004","name":"","func":"if(global.get('Para1DropUpdated')==1)\n{\n    global.set('Para1DropUpdated',0);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":160,"wires":[["74d2dbfa.2925b4"]]},{"id":"2be41220.ff731e","type":"inject","z":"5f43bff0.7c004","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["204a5fe5.2c1bb"]]},{"id":"204a5fe5.2c1bb","type":"file in","z":"5f43bff0.7c004","name":"Parameter.txt","filename":"/home/pi/Desktop/Parameter.txt","format":"utf8","chunk":false,"sendError":false,"x":290,"y":240,"wires":[["db979da0.9813d"]]},{"id":"db979da0.9813d","type":"function","z":"5f43bff0.7c004","name":"settings obj","func":"global.set(\"settings\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":240,"wires":[["3504cd9e.7ddf32"]]},{"id":"3504cd9e.7ddf32","type":"json","z":"5f43bff0.7c004","name":"","property":"payload","action":"","pretty":false,"x":610,"y":240,"wires":[["5b83a0cd.b8c36"]]},{"id":"5b83a0cd.b8c36","type":"ui_template","z":"5f43bff0.7c004","group":"72a6fb12.0d6ef4","name":"Master Dropdown","order":1,"width":"0","height":"0","format":"<html>\n    <head>\n        \n    </head>\n    <body>\n      <style>\nbody{\n    background-image : url(\"/background9.jpg\");\n}\n    \n    input[type=text]{\n    \tbackground-color: white;\n    \ttext-align : center;\n    \tcolor : black;\n        border:none;\n        padding : 7px;\n    }\n    input[type=submit] {\n  background-color: #4CAF50;\n  color: white;\n  padding: 5px 7px;\n  text-align : center;\n  border: none;\n  border-radius: 1px;\n  cursor: allowed;\n  float: left;\n}\n\ninput[type=submit]:hover {\n  background-color: #45a049;\n}\ntable, tr, th, td {\n        \n        background-color: white;\n        border-collapse: collapse;\n\t\tborder: 1px solid black;\n\t\tcolor: black;\n\t\ttext-align: center;\n\t\tpadding: 1px;\n\t\theight: 100%;\n}\n\n input[type=number]{\n    background-color: white;\n    color : black;\n    text-align : center;\n    border : 1px solid #0093dc;\n    padding : 7px 6px;\n    text-align : center;\n    }  \n    th{\n\t  text-align : center;\n\t  color: white;\n\t  font-weight: normal;\n\t  font-family: candara;\n\t  font-size: 110%;\n\t  background-color: #097479;\n\t  padding : 7px 3px\n\t  }\n\t td {\n        \n        background-color: white;\n        border-collapse: collapse;\n\t\tborder: 1px solid black;\n\t\tcolor : black;\n\t\ttext-align : center;\n\t\tpadding: 1px;\n}\ntr, th, td \n{\n    width: 200px;\n}\n</style>\n  \n    \n<div>\n\n\n<div >\n    <form id=\"TableForm\" ng-submit=\"MyTableFormAction()\" >\n        <table align = \"center\" id=\"EmptableWithEditDelete3\">\n            <tr>\n                <th>\n                    Sr. No.\n                </th>\n                <th>\n                    Parameter\n                </th>\n                <th>\n                    Edit\n                </th>\n                <th>\n                    Add Record\n                </th>                \n                <th>\n                    Delete\n                </th>\n            </tr>\n            <tr ng-repeat=\"Set in IntMsg.payload.SetData\" >\n                <td disabled=\"true\">\n                    {{$index+1}}\n                </td>\n                <td>\n                    <input type=\"text\" id=\"EmpHighInput{{$index}}\" ng-model=\"Set.Name\"  disabled=\"true\" required> <!--ng-model=\"IntMsg.payload.SetData[$index].Name\"-->\n                </td>\n                <td>\n                    <button type=\"button\"  ng-click=\"TableFormRowEditBtn($index)\" ng-style=\"{background: '#ffc399', color:'black', border : '1px solid #0093dc', cursor: 'allowed'}\">\n                        Edit\n                    </button>\n                        \n                </td>\n                <td>\n                    <button type=\"button\"  ng-click=\"TableFormAddRowBtn($index)\" ng-style=\"{background: '#ffc399', color:'black', border : '1px solid #0093dc', cursor: 'allowed'}\">\n                        Add Record\n                    </button>\n                        \n                </td>\n                <td>\n                    <button type=\"button\" ng-click=\"TableFormRowDeleteBtn($index)\" ng-style=\"{background: '#ffc399', color:'black', border : '1px solid #0093dc', cursor: 'allowed'}\">\n                        Delete\n                    </button>\n                </td>\n            </tr>\n        </table>\n        <br>\n        <br>\n\n       <button type=\"Submit\" name=\"Submit\" ng-style=\"{float: 'right', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"> \n       Submit Data\n       </button>\n       <button type=\"button\" ng-click=\"TableAddFirstRecord()\" ng-style=\"{float: 'left', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"> Add Record\n           \n       </button>\n           \n       \n    </form>\n</div>\n</div>\n<script>\n//send({payload:myFunction1()})\n//few learnigs:  if msg.pyload is used to link data to html tags like \n//<input type=\"text\" id=\"EmpId\" name=\"fname\" value={{msg.payload.TSetData.Selectedobj}} disabled > \n//then \n//ensure orginal data variables in msg.payload are intact through out the session/user interaction. \n\n//\"{{angular_var}}\"  syntax is used in html to pass varible data from angular to html tags\n//angular function send({payload:var/funct}) is used to send the msg to node red using ng-click directives. it updates msg.payload of entire template. \n// if your html view tags like input msg/table/dropdowns are getting reset that means\n//while sending msg, orginal msg got disturbed.\n// to solve this issue you can preserve original msg by adding new varibles to orginal msg.payload .\n// this is allowed but you should not disturb incoming msg.payload varibales data structure.\n// i.e say incoming msg.payload had data structure like msg={\"payload\":{\"emp\":employees}}\n//employees=[{\"name\":\"e1\",\"id\":1,\"dept\":\"dept1\",\"div\":\"div1\"},{\"name\":\"e2\",\"id\":2,\"dept\":\"dept2\",\"div\":\"div2\"},{\"name\":\"e3\",\"id\":3,\"dept\":\"dept3\",\"div\":\"div3\"}]\n// in this case you can add msg={\"payload\":{\"emp\":employees},{\"newVar\":newVarData}} this will works as orignal msg.payload.emp is not disturbed and new object \"NewVar is added\"\n// you can chage values of all varibles . that will not create any error or reset of view.\n\n\n// to check node-red ui is working properly , type \"http://127.0.0.1:1880/ui/\" in chrome browser and click\n//on broweser three dots menu-->more tools-->developer tools ensure at riht side of broweser debug window is opend\n// click on Consol tab to see error/status mssages.\n// you can use console.log(\"your_var_name\"); to see the value\n\n  var test=document.getElementById(\"EmpId\");\n\n(function(scope) {\n    // use this func\n    scope.IntMsg={\"payload\":{\"SetData\":[{}]}};\n    \n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Do something when msg arrives\n            scope.IntMsg=msg;\n  \n    console.log(msg.payload);\n    }\n    });\n\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              \n    //\n    scope.TableFormRowEditBtn=function MyTableFormEditBtn(index){\n        console.log(\"hi\");\n        document.getElementById(\"EmptableWithEditDelete3\").rows[index+1].cells[1].getElementsByTagName(\"input\")[0].disabled=false\n        \n        //document.getElementById(\"DivtableWithEditDelete\").rows[index+1].cells[1] provides row-1 column 1 cell. in this cell. as index in JS starts with zero,need to do +1 to get first row.\n        //to access input tag from row-1,column-1, \"getElementsByTagName(\"input\")[0]\" is used.[0] provides first input tag in this context.\n        \n        //console.log(scope.msg.payload.MyFormData.Edit[index]);\n        \n    }\n\n\n    scope.TableAddFirstRecord=function MyTableAddFirstRecordBtn(){\n        //Array index in JS variable starts from Zero  where as table row index starts from 1 so index is added with +1\n        console.log(\"TableAddFirstRecord clicked\");\n        var dummy={\"Pressure\":\"\",};\n        scope.IntMsg.payload.SetData.push(dummy);\n    }\n\n\n    scope.TableFormAddRowBtn=function MyTableFormAddRowBtn(index){\n        //Array index in JS variable starts from Zero  where as table row index starts from 1 so index is added with +1\n       var dummy={\"Pressure\":\"\"};\n        scope.IntMsg.payload.SetData.splice(index+1, 0, dummy);\n    }\n    scope.MyTableFormAction= function MyTableFormData(){\n        var i;\n        for (i = 0; i < scope.IntMsg.payload.SetData.length; i++) {\n            document.getElementById(\"EmptableWithEditDelete3\").rows[i+1].cells[1].getElementsByTagName(\"input\")[0].disabled=true\n    \n            \n        }\n        \n        console.log(\"MyTableFormData\");\n        console.log(scope.IntMsg.payload.SetData);\n        window.confirm(\"Data Saved\");\n        scope.send({\"payload\":(scope.IntMsg.payload)});\n        \n    }\n    scope.TableFormRowDeleteBtn=function MyTableFormRowDeleteBtn(index){\n        var txt;\n        var r = confirm(\"Press OK to Confim Delete \");\n        if (r == true) {\n            scope.IntMsg.payload.SetData.splice(index,1);\n            scope.MyTableFormAction();\n            console.log([\"TableFormRowDeleteBtn\"],index);\n        }\n        \n\n    }\n    \n})(scope);\n\n\n</script>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":810,"y":240,"wires":[["c03e0303.d3149"]]},{"id":"c03e0303.d3149","type":"file","z":"5f43bff0.7c004","name":"Parameter.txt","filename":"/home/pi/Desktop/Parameter.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":990,"y":240,"wires":[["e940f75.a38e108"]]},{"id":"e940f75.a38e108","type":"function","z":"5f43bff0.7c004","name":"SetVal","func":"var data= msg.payload.SetData;\nvar n = data.length;\n//node.warn(n)\nglobal.set('AllPara',msg.payload)\n//node.warn(global.get('AllPara'))\n\nfor(i=0;i<n;i++)\n{\n    global.set('SetData['+i+']',msg.payload.SetData[i])\n}\n\nvar a= global.get('SetData')\nfor(i=0;i<n;i++)\n{\n    global.set('Parameter['+i+']',a[i].Name)\n}\nvar b=global.get('Parameter')\n\nfor(i=0;i<n;i++)\n{\n    global.set('name['+i+']',b[i])\n}\nvar d=global.get('name')\nvar ParaDet={ };\nfor(i=0;i<n;i++)\n{\n    ParaDet[i]={\"id\":i,\"name\":d[i]};\n}\nmsg.payload= ParaDet\n//msg.payload= global.get('name')\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":240,"wires":[["d45292f0.b56a4"]]},{"id":"d45292f0.b56a4","type":"function","z":"5f43bff0.7c004","name":"SetVal","func":"global.set('ParaDrop',msg.payload);\nglobal.set('Para1DropUpdated',1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":240,"wires":[["b3b11afa.833298"]]},{"id":"b3b11afa.833298","type":"debug","z":"5f43bff0.7c004","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1470,"y":240,"wires":[]},{"id":"63411033.8ade4","type":"ui_group","name":"Alerts list","tab":"b8d0d7.d1018f28","order":1,"disp":true,"width":"24","collapse":false},{"id":"72a6fb12.0d6ef4","type":"ui_group","name":"Master Dropdown","tab":"1da25a32.c42e66","order":1,"disp":true,"width":"24","collapse":false},{"id":"b8d0d7.d1018f28","type":"ui_tab","name":"Alerts","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1da25a32.c42e66","type":"ui_tab","name":"Master Dropdown","icon":"dashboard","order":5,"disabled":false,"hidden":false}]