emailLogic.json
[{"id":"9282adf7.069b8","type":"inject","z":"974f83a0.4973a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":1730,"y":360,"wires":[["c2026f6b.663ab","5b4e465.e4edcb8","a7d0abaa.5d90b8","157f244f.87c93c","9795c414.e59be8","dc38dc22.34b91","b0a4fc52.c99f2","24f6fe00.dccd82","fe034c1a.ec5de","63582191.3af55"]]},{"id":"1be64f4a.634511","type":"comment","z":"974f83a0.4973a","name":"Email Logic","info":"","x":1710,"y":320,"wires":[]},{"id":"c2026f6b.663ab","type":"function","z":"974f83a0.4973a","name":"HighPh","func":"//node.warn(flow.get(\"Tank1HighPhCount\"))\nif(flow.get(\"Tank1HighPhCount\") > 30)\n{\n    msg = {\n        to:         \"joshik@godrej.com\",\n        topic:      \"High pH Alert\",\n        payload:    \"pH of \" + global.get(\"Tank1description\") + \" is higher than acceptable value of \" + global.get(\"Tank1highPh\")\n    }\n    flow.set(\"Tank1HighPhCount\", 0)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1920,"y":360,"wires":[["b33c62e2.55b8b"]]},{"id":"5b4e465.e4edcb8","type":"function","z":"974f83a0.4973a","name":"LowPh","func":"//node.warn(flow.get(\"Tank1LowPhCount\"))\nif(flow.get(\"Tank1LowPhCount\") > 30)\n{\n    msg = {\n        to:         \"joshik@godrej.com\",\n        topic:      \"Low pH Alert\",\n        payload:    \"pH of \" + global.get(\"Tank1description\") + \" is Lower than acceptable value of \" + global.get(\"Tank1lowPh\")\n    }\n    flow.set(\"Tank1LowPhCount\", 0)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1910,"y":420,"wires":[["b33c62e2.55b8b"]]},{"id":"b33c62e2.55b8b","type":"e-mail","z":"974f83a0.4973a","server":"vikmail.godrej.com","port":"25","secure":false,"tls":false,"name":"","dname":"","x":2090,"y":360,"wires":[]}]