grpName.json
[{"id":"57885317.9595fc","type":"ui_text_input","z":"cc767e86.ecb25","name":"","label":"Group 1:","tooltip":"grpname","group":"c73749f3.bf6208","order":1,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":840,"y":280,"wires":[["f1dbad71.699aa"]]},{"id":"f1dbad71.699aa","type":"file","z":"cc767e86.ecb25","name":"grp1name.txt","filename":"/home/pi/Desktop/grp1name.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1010,"y":280,"wires":[[]]},{"id":"bf9baaba.cb4e18","type":"file in","z":"cc767e86.ecb25","name":"grp1name.txt","filename":"/home/pi/Desktop/grp1name.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":670,"y":280,"wires":[["57885317.9595fc"]]},{"id":"70ca58c3.219248","type":"inject","z":"cc767e86.ecb25","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":490,"y":280,"wires":[["bf9baaba.cb4e18"]]},{"id":"c73749f3.bf6208","type":"ui_group","name":"Notification Settings","tab":"30fd97fc.7b8798","order":1,"disp":true,"width":"24","collapse":true},{"id":"30fd97fc.7b8798","type":"ui_tab","name":"Group Details","icon":"fa-address-book","order":2,"disabled":false,"hidden":false}]