ipconfig.json
[{"id":"f1f14a51.e6c0a8","type":"tab","label":"IP Address","disabled":false,"info":""},{"id":"35aea735.0ce688","type":"inject","z":"f1f14a51.e6c0a8","name":"get IP","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"Node-Red IP Address","payload":"eth0","payloadType":"str","x":220,"y":140,"wires":[["c21c580c.c59238"]]},{"id":"c21c580c.c59238","type":"exec","z":"f1f14a51.e6c0a8","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ifconfig","x":340,"y":220,"wires":[["d430a647.301478","36520e41.c7a442"],[],[]]},{"id":"d430a647.301478","type":"function","z":"f1f14a51.e6c0a8","name":"Extract network config","func":"var input, tokens, inet;\ninput = msg.payload;\ntokens = input.split(\":\", 11);\n//node.warn(tokens)\ninet = tokens[10].split(\" \", 40);\n//node.warn(inet)\nglobal.set('IP_Address',inet[13])\n//node.warn(inet[13])\n","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["36520e41.c7a442"]]},{"id":"36520e41.c7a442","type":"debug","z":"f1f14a51.e6c0a8","name":"test out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":160,"wires":[]}]