mqttNodeRed.json
[{"id":"4c57644d.bd6b8c","type":"mqtt out","z":"6f65a80.73e3c58","name":"","topic":"my/test/topic","qos":"0","retain":"","broker":"ae7e1a02.7f36d8","x":560,"y":160,"wires":[]},{"id":"45433bd1.aa6434","type":"inject","z":"6f65a80.73e3c58","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":150,"y":160,"wires":[["cbc399c.713d468"]]},{"id":"84ad4f1b.ed7ae","type":"mqtt in","z":"6f65a80.73e3c58","name":"","topic":"my/test/topic","qos":"0","datatype":"auto","broker":"ae7e1a02.7f36d8","x":130,"y":240,"wires":[["5844fd33.fd8d54"]]},{"id":"5844fd33.fd8d54","type":"debug","z":"6f65a80.73e3c58","name":"","active":true,"console":"false","complete":"false","x":360,"y":240,"wires":[]},{"id":"ade8bbe0.e34d88","type":"comment","z":"6f65a80.73e3c58","name":"","info":"var mqtt = require('mqtt')\n\nvar options = {\n    host: '734075af81d14f92af47dc0657233b6c.s1.eu.hivemq.cloud',\n    port: 8883,\n    protocol: 'mqtts',\n    username: 'gnbwaterOhTank',\n    password: '<your-password>'\n}\n\n//initialize the MQTT client\nvar client = mqtt.connect(options);\n\n//setup the callbacks\nclient.on('connect', function () {\n    console.log('Connected');\n});\n\nclient.on('error', function (error) {\n    console.log(error);\n});\n\nclient.on('message', function (topic, message) {\n    //Called each time a message is received\n    console.log('Received message:', topic, message.toString());\n});\n\n// subscribe to topic 'my/test/topic'\nclient.subscribe('my/test/topic');\n\n// publish message 'Hello' to topic 'my/test/topic'\nclient.publish('my/test/topic', 'Hello');\nYou can run the application from your console by starting it with node:\nnode main.js\n","x":590,"y":220,"wires":[]},{"id":"cbc399c.713d468","type":"function","z":"6f65a80.73e3c58","name":"","func":"msg.payload = flow.get(\"mqttCounter\")\n\nif(flow.get(\"mqttCounter\") == 10)\n{\n    flow.set(\"mqttCounter\", 0)\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["4c57644d.bd6b8c"]]},{"id":"ae7e1a02.7f36d8","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]