pH flow.json
[{"id":"8870c38c.f9125","type":"function","z":"974f83a0.4973a","name":"S1 - pH","func":"var s10=msg.payload.Slave[0];\nvar Voltage =s10 *((5.0 /1024.0))*1000; //voltage in mV\nvar pHValue = []\nvar slope = []\nvar intercept = []\nvar offset = flow.get(\"offset\")\nvar SuccessReqPrev = flow.get(\"SuccessReq\")\nvar TankName = flow.get(\"TankName\")\nvar NutralVolt = flow.get(\"NutralVolt\")\nvar AcidVolt = flow.get(\"AcidVolt\")\nvar LastCalib7 = flow.get(\"LastCalib7\")\nvar LastCalib4 = flow.get(\"LastCalib4\")\nvar time = new Date();\nvar Datetime = (time.getDate() + \"-\" + (time.getMonth() + 1) + \"-\" + time.getFullYear() + \",\" + time.getHours() + \":\" + time.getMinutes() + \":\" + time.getSeconds()).toString();\nvar ConnState = []\nvar RetObj = []\n\n//substracting offset from raw value. (offset is calculated in calibration module)\n\nslope= (7.0-4.0)/((NutralVolt-1500.0)/3 - (AcidVolt-1500)/3)\nintercept = 7.0 - slope*(NutralVolt-1500.0)/3\npHValue = slope * ((Voltage - 1500.0)/3) + intercept\n\n\n\n//Setting the pHValues within flow\nflow.set(\"Voltage\",Voltage)\nflow.set(\"pHValue\",pHValue)\n//returning the output for displaying charts\n//node.warn(NutralVolt)\n\nRetObj = { payload : pHValue}\nglobal.set(\"ChillerpH\", RetObj);\n\nmsg.label = global.get(\"Tank1description\") + \" pH\"\nmsg.payload = pHValue\n\nreturn RetObj, msg;","outputs":1,"noerr":0,"x":640,"y":1080,"wires":[[]]},{"id":"f9b26beb.3a5ef8","type":"file in","z":"974f83a0.4973a","name":"pHRef.txt","filename":"/home/pi/Desktop/pHRef.txt","format":"utf8","chunk":false,"sendError":false,"x":320,"y":120,"wires":[["6b86849e.f039bc"]]},{"id":"116d48fd.64b8f7","type":"inject","z":"974f83a0.4973a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["f9b26beb.3a5ef8"]]},{"id":"6b86849e.f039bc","type":"json","z":"974f83a0.4973a","name":"","property":"payload","action":"","pretty":false,"x":470,"y":120,"wires":[["b61c4db8.cb6c9"]]},{"id":"b61c4db8.cb6c9","type":"function","z":"974f83a0.4973a","name":"var init","func":"flow.set(\"pHValue\",0)\nflow.set(\"Voltage\",0)\nflow.set(\"TankName\",\"pH\")\nflow.set(\"NutralVolt\",msg.payload.NutralVolt)\nflow.set(\"AcidVolt\",msg.payload.AcidVolt)\nflow.set(\"LastCalib4\",msg.payload.LastCalib4)\nflow.set(\"LastCalib7\",msg.payload.LastCalib7)","outputs":1,"noerr":0,"x":630,"y":120,"wires":[[]]},{"id":"cccfba3.9febc48","type":"comment","z":"974f83a0.4973a","name":"Module 4 ( 7 ph Calibration input ) ","info":"","x":200,"y":220,"wires":[]},{"id":"9feef04a.dc478","type":"debug","z":"974f83a0.4973a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":280,"wires":[]},{"id":"d619cc8a.a103d","type":"file","z":"974f83a0.4973a","name":"7phInput","filename":"/home/pi/Desktop/7phInput.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":660,"y":280,"wires":[["9feef04a.dc478"]]},{"id":"b1ce77f0.c11178","type":"json","z":"974f83a0.4973a","name":"","property":"payload","action":"","pretty":false,"x":350,"y":340,"wires":[["87ac5b6d.a9f9f8"]]},{"id":"654ec805.cd32a8","type":"file in","z":"974f83a0.4973a","name":"7phInput","filename":"/home/pi/Desktop/7phInput.txt","format":"utf8","chunk":false,"sendError":false,"x":200,"y":340,"wires":[["b1ce77f0.c11178"]]},{"id":"aeb188f4.b40928","type":"inject","z":"974f83a0.4973a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":280,"wires":[["654ec805.cd32a8"]]},{"id":"8b9a8081.3fb0c","type":"switch","z":"974f83a0.4973a","name":"","property":"Type","propertyType":"msg","rules":[{"t":"eq","v":"Submit","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":340,"wires":[["4499f748.b72768"]]},{"id":"4a5f82df.9ed0ac","type":"debug","z":"974f83a0.4973a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":340,"wires":[]},{"id":"a7f744cc.bc5578","type":"debug","z":"974f83a0.4973a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":520,"wires":[]},{"id":"c441dc4.cd1632","type":"file","z":"974f83a0.4973a","name":"4phInput","filename":"/home/pi/Desktop/4phInput.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":680,"y":520,"wires":[["a7f744cc.bc5578"]]},{"id":"1f1c716a.3fdeff","type":"json","z":"974f83a0.4973a","name":"","property":"payload","action":"","pretty":false,"x":330,"y":580,"wires":[["60c83f31.93cac"]]},{"id":"e371bbe0.704c08","type":"file in","z":"974f83a0.4973a","name":"4phInput","filename":"/home/pi/Desktop/4phInput.txt","format":"utf8","chunk":false,"sendError":false,"x":200,"y":580,"wires":[["1f1c716a.3fdeff"]]},{"id":"4e2ac165.40c1","type":"inject","z":"974f83a0.4973a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":520,"wires":[["e371bbe0.704c08"]]},{"id":"7f1e51a5.0bdce","type":"switch","z":"974f83a0.4973a","name":"","property":"Type","propertyType":"msg","rules":[{"t":"eq","v":"Submit","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":580,"wires":[["727edbed.ab7154"]]},{"id":"87ac5b6d.a9f9f8","type":"ui_template","z":"974f83a0.4973a","group":"5b9c82d4.c490cc","name":"7 pH calibration input","order":1,"width":12,"height":2,"format":"<html>\n<body>\n<style>\n\n</style>  \n<form id=\"MobileNoForm\" ng-submit=\"submitlist()\" ng-repeat=\"Details in recipients\" align=\"justify\">\n 7pH calibration&nbsp; &nbsp; &ensp;\n\n<input type=\"submit\" class=\"btn btn-primary\" value=\"7pH Calibrate\" ng-style=\"{float: 'right', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"/>\n</form>\n<script>\n\t(function(scope) {   \t\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n    \t\n      $(\"#my_\"+scope.$id).html(msg.payload);\nscope.data = angular.copy(msg.payload); \n    }\nscope.recipients = angular.copy(scope.data);\n    \n  });\n\nscope.enabledEdit = [];\t\n//scope.data = [{ Name:\"\"}]; \n//scope.recipients = angular.copy(scope.data);\n\t  \nscope.submitlist = function(){\nvar msg={\"payload\":(scope.recipients),\"Type\":\"Submit\"};\nscope.send(msg);\nwindow.confirm(\"Sensor Calibrated for 7 pH\");\nconsole.log(\"form submitted:\"+angular.toJson(scope.recipients));\n\n}\n})(scope);\n</script>            \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":420,"y":280,"wires":[["8b9a8081.3fb0c","d619cc8a.a103d"]]},{"id":"60c83f31.93cac","type":"ui_template","z":"974f83a0.4973a","group":"21ac8585.16698a","name":"4 ph Calibration input","order":1,"width":12,"height":2,"format":"<html>\n<body>\n<style>\n\n</style>  \n<form id=\"MobileNoForm\" ng-submit=\"submitlist()\" ng-repeat=\"Details in recipients\" align=\"justify\">\n 4pH calibration&nbsp; &nbsp; &ensp;\n\n\n<input type=\"submit\" class=\"btn btn-primary\" value=\"4pH Calibrate\" ng-style=\"{float: 'right', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"/>\n</form>\n<script>\n\t(function(scope) {   \t\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n    \t\n      $(\"#my_\"+scope.$id).html(msg.payload);\nscope.data = angular.copy(msg.payload); \n    }\nscope.recipients = angular.copy(scope.data);\n    \n  });\n\nscope.enabledEdit = [];\t\n//scope.data = [{ Name:\"\"}]; \n//scope.recipients = angular.copy(scope.data);\n\t  \nscope.submitlist = function(){\nvar msg={\"payload\":(scope.recipients),\"Type\":\"Submit\"};\nscope.send(msg);\nwindow.confirm(\"Sensor calibrated for 4pH\");\nconsole.log(\"form submitted:\"+angular.toJson(scope.recipients));\n\n}\n})(scope);\n</script>            \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":420,"y":520,"wires":[["7f1e51a5.0bdce","c441dc4.cd1632"]]},{"id":"4499f748.b72768","type":"function","z":"974f83a0.4973a","name":"Setting Nutral Voltage Referance","func":" var offset = flow.get(\"offset\")\n var pHValue = flow.get(\"pHValue\")\n var Voltage = flow.get(\"Voltage\")\n var SuccessReq = flow.get(\"SuccessReq\")\n var NutralVolt = flow.get(\"NutralVolt\")\n var AcidVolt = flow.get(\"AcidVolt\")\n var LastCalib7 = flow.get(\"LastCalib7\")\n var LastCalib4 = flow.get(\"LastCalib4\")\n var time = new Date();\n var Datetime = (time.getDate() + \"-\" + (time.getMonth() + 1) + \"-\" + time.getFullYear() + \",\" + time.getHours() + \":\" + time.getMinutes() + \":\" + time.getSeconds()).toString();\n\n var msg2 ={payload:{NutralVolt:NutralVolt ,AcidVolt:AcidVolt,LastCalib7:LastCalib7,LastCalib4:LastCalib4}}\n\nNutralVolt = Voltage\nLastCalib7 = Datetime\nflow.set(\"NutralVolt\",NutralVolt)\nflow.set(\"LastCalib7\",LastCalib7)\nmsg2.payload.NutralVolt = NutralVolt\nmsg2.payload.AcidVolt = AcidVolt\nmsg2.payload.LastCalib7 = LastCalib7\nmsg2.payload.LastCalib4 = LastCalib4\nreturn msg2;","outputs":1,"noerr":0,"x":740,"y":340,"wires":[["b3f17f81.1f6cc","4a5f82df.9ed0ac"]]},{"id":"37011e27.6a87b2","type":"file","z":"974f83a0.4973a","name":"pHRef.txt","filename":"/home/pi/Desktop/pHRef.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":960,"y":620,"wires":[[]]},{"id":"b3f17f81.1f6cc","type":"file","z":"974f83a0.4973a","name":"pHRef.txt","filename":"/home/pi/Desktop/pHRef.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":980,"y":380,"wires":[[]]},{"id":"727edbed.ab7154","type":"function","z":"974f83a0.4973a","name":"Setting Acid Voltage Referance","func":" //4 ph calibration\n\nvar offset = flow.get(\"offset\")\nvar pHValue = flow.get(\"pHValue\")\nvar Voltage = flow.get(\"Voltage\")\nvar SuccessReq = flow.get(\"SuccessReq\")\nvar slope  = flow.get(\"slope\")\nvar intercept = flow.get(\"intercept\")\nvar NutralVolt = flow.get(\"NutralVolt\")\nvar AcidVolt = flow.get(\"AcidVolt\")\nvar LastCalib7 = flow.get(\"LastCalib7\")\nvar LastCalib4 = flow.get(\"LastCalib4\")\nvar time = new Date();\nvar Datetime = (time.getDate() + \"-\" + (time.getMonth() + 1) + \"-\" + time.getFullYear() + \",\" + time.getHours() + \":\" + time.getMinutes() + \":\" + time.getSeconds()).toString();\n\nvar msg2 ={payload:{NutralVolt:NutralVolt ,AcidVolt:AcidVolt,LastCalib7:LastCalib7,LastCalib4:LastCalib4}}\nAcidVolt= Voltage\nLastCalib4 = Datetime\n\nflow.set(\"AcidVolt\",AcidVolt)\nflow.set(\"LastCalib4\",LastCalib4)\nmsg2.payload.NutralVolt = NutralVolt\nmsg2.payload.AcidVolt = AcidVolt\nmsg2.payload.LastCalib4 = LastCalib4\nmsg2.payload.LastCalib7 = LastCalib7\nreturn msg2;","outputs":1,"noerr":0,"x":730,"y":580,"wires":[["37011e27.6a87b2","96cba047.83746"]]},{"id":"6dbe2558.f605ac","type":"comment","z":"974f83a0.4973a","name":"Module 6 ( Clear all Calibration ) ","info":"","x":190,"y":660,"wires":[]},{"id":"d8f8ff8e.97248","type":"comment","z":"974f83a0.4973a","name":"Module 5 ( 4 ph Calibration input) ","info":"","x":190,"y":460,"wires":[]},{"id":"96cba047.83746","type":"debug","z":"974f83a0.4973a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":580,"wires":[]},{"id":"fe5e1f60.dc71","type":"debug","z":"974f83a0.4973a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":740,"wires":[]},{"id":"ad619b8c.3ac018","type":"file","z":"974f83a0.4973a","name":"Clear","filename":"/home/pi/Desktop/Clear.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":670,"y":740,"wires":[["fe5e1f60.dc71"]]},{"id":"15b9be8d.f66de1","type":"json","z":"974f83a0.4973a","name":"","property":"payload","action":"","pretty":false,"x":330,"y":800,"wires":[["a87ae8bf.d7e7b8"]]},{"id":"94ed5658.d57108","type":"file in","z":"974f83a0.4973a","name":"Clear","filename":"/home/pi/Desktop/Clear.txt","format":"utf8","chunk":false,"sendError":false,"x":190,"y":800,"wires":[["15b9be8d.f66de1"]]},{"id":"fa40e8f6.2e4068","type":"inject","z":"974f83a0.4973a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":740,"wires":[["94ed5658.d57108"]]},{"id":"dfa4ac7.a18bb5","type":"switch","z":"974f83a0.4973a","name":"","property":"Type","propertyType":"msg","rules":[{"t":"eq","v":"Submit","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":800,"wires":[["2628fb08.29ee24"]]},{"id":"a87ae8bf.d7e7b8","type":"ui_template","z":"974f83a0.4973a","group":"ddf2e74f.a7c728","name":"Clear Calibration input","order":1,"width":11,"height":3,"format":"<html>\n<body>\n<style>\n\n</style>  \n<form id=\"MobileNoForm\" ng-submit=\"submitlist()\" ng-repeat=\"Details in recipients\" align=\"justify\">\nclear calibration&nbsp; &nbsp; &ensp;\n\n\n<input type=\"submit\" class=\"btn btn-primary\" value=\"Clear\" ng-style=\"{float: 'right', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"/>\n</form>\n<script>\n\t(function(scope) {   \t\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n    \t\n      $(\"#my_\"+scope.$id).html(msg.payload);\n//scope.data = angular.copy(msg.payload); \n    }\n//scope.recipients = angular.copy(scope.data);\n    \n  });\n\nscope.enabledEdit = [];\t\nscope.data = [{ Name:\"\"}]; \nscope.recipients = angular.copy(scope.data);\n\t  \nscope.submitlist = function(){\nvar msg={\"payload\":(scope.recipients),\"Type\":\"Submit\"};\nscope.send(msg);\nwindow.confirm(\"Calibration cleared for selected sensor\");\nconsole.log(\"form submitted:\"+angular.toJson(scope.recipients));\n\n}\n})(scope);\n</script>            \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":420,"y":740,"wires":[["dfa4ac7.a18bb5","ad619b8c.3ac018"]]},{"id":"2628fb08.29ee24","type":"function","z":"974f83a0.4973a","name":"Clear Voltage Referance","func":"\n var offset = flow.get(\"offset\")\n var pHValue = flow.get(\"pHValue\")\n var Voltage = flow.get(\"Voltage\")\n var SuccessReq = flow.get(\"SuccessReq\")\n var slope  = flow.get(\"slope\")\n var intercept = flow.get(\"intercept\")\n var NutralVolt = flow.get(\"NutralVolt\")\n var AcidVolt = flow.get(\"AcidVolt\")\n  var LastCalib7 = flow.get(\"LastCalib7\")\n  var LastCalib4 = flow.get(\"LastCalib4\")\n  var time = new Date();\nvar Datetime = (time.getDate() + \"-\" + (time.getMonth() + 1) + \"-\" + time.getFullYear() + \",\" + time.getHours() + \":\" + time.getMinutes() + \":\" + time.getSeconds()).toString();\n\n var msg2 ={payload:{NutralVolt:NutralVolt ,AcidVolt:AcidVolt,LastCalib7:LastCalib7,LastCalib4:LastCalib4}}\n\n         AcidVolt = 2032.44\n         NutralVolt = 1500.0\n         LastCalib4 = NaN\n         LastCalib7 = NaN\n\nflow.set(\"AcidVolt\",AcidVolt)\nflow.set(\"NutralVolt\",NutralVolt)\nflow.set(\"LastCalib4\",LastCalib4)\nflow.set(\"LastCalib7\",LastCalib7)\nmsg2.payload.NutralVolt = NutralVolt\nmsg2.payload.AcidVolt = AcidVolt\nmsg2.payload.LastCalib4 = LastCalib4\nmsg2.payload.LastCalib7 = LastCalib7\nreturn msg2;","outputs":1,"noerr":0,"x":710,"y":800,"wires":[["5b8294c7.0c46dc","1e999722.78edd9"]]},{"id":"1e999722.78edd9","type":"debug","z":"974f83a0.4973a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":800,"wires":[]},{"id":"5b8294c7.0c46dc","type":"file","z":"974f83a0.4973a","name":"pHRef.txt","filename":"/home/pi/Desktop/pHRef.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":960,"y":840,"wires":[[]]},{"id":"a41b0bc2.5c3a68","type":"inject","z":"974f83a0.4973a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":980,"wires":[["1cbb7fd.a2e278"]]},{"id":"1cbb7fd.a2e278","type":"file in","z":"974f83a0.4973a","name":"pHCal.txt","filename":"/home/pi/Desktop/pHCal.txt","format":"utf8","chunk":false,"sendError":false,"x":340,"y":980,"wires":[["b4bf5023.2abe9"]]},{"id":"b4bf5023.2abe9","type":"function","z":"974f83a0.4973a","name":"settings obj","func":"//global.set(\"settings\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":980,"wires":[["c62dace6.ebf5a"]]},{"id":"c62dace6.ebf5a","type":"json","z":"974f83a0.4973a","name":"","property":"payload","action":"","pretty":false,"x":670,"y":980,"wires":[["5fc5b05b.4f261"]]},{"id":"5fc5b05b.4f261","type":"ui_template","z":"974f83a0.4973a","group":"9acc62cd.8a2fd","name":"pH Calibration","order":1,"width":24,"height":8,"format":"<html>\n    <head>\n        \n    </head>\n    <body>\n<style>\ntable, th, tr, td\n{\n    border: 1px black solid;\n    border-collapse: collapse;\n    text-align: center;\n}\n\ninput[type = number], input[type = text]\n{\n    background-color: white;\n    border: none;\n    word-wrap: break-word;\n    word-break: break-all;\n    width: 100px;\n}\n\nth\n{\n    background-color: #2a92b5;\n    padding : 7px 3px;\n    color: white;\n}\n\n</style>\n  \n\n    <form id=\"TableForm\" ng-submit=\"MyTableFormAction()\" >\n        <table align = \"center\" id=\"EmptableWithEditDelete1\">\n            <tr>\n                <th>\n                    Sr. No.\n                </th>\n                <th>\n                   Tank\n                </th>\n                <th>\n                    Description\n                </th>\n                <th>\n                    High pH value\n                </th>\n                <th>\n                    low pH value\n                </th>\n                <th>\n                    Edit\n                </th>\n                <th>\n                    Delete\n                </th>\n            </tr>\n            \n            <tr ng-repeat=\"Set in IntMsg.payload.SetData\" >\n                <td disabled=\"true\">\n                    {{$index+1}}\n                </td>\n                <td disabled=\"true\">\n                    Tank {{$index+1}}\n                </td>\n                <td>\n                    <input type=\"text\" id=\"EmpHighInput{{$index}}\" ng-model=\"Set.Description\"  disabled=\"true\" required> <!--ng-model=\"IntMsg.payload.SetData[$index].Name\"-->\n                </td>\n                <td>\n                    <input type=\"number\" step=\"0.01\" id=\"EmpHighInput{{$index}}\" ng-model=\"Set.highPh\"  disabled=\"true\" required> <!--ng-model=\"IntMsg.payload.SetData[$index].Name\"-->\n                </td>\n                <td>\n                    <input type=\"number\" step=\"0.01\" id=\"EmpHighInput{{$index}}\" ng-model=\"Set.lowPh\"  disabled=\"true\" required> <!--ng-model=\"IntMsg.payload.SetData[$index].Name\"-->\n                </td>\n                <td>\n                    <button type=\"button\"  ng-click=\"TableFormRowEditBtn($index)\" ng-style=\"{background: '#ffc399', color:'black', border : '1px solid #0093dc', cursor: 'allowed'}\">\n                        Edit\n                    </button>\n                </td>\n                <td>\n                    <button type=\"button\" ng-click=\"TableFormRowDeleteBtn($index)\" ng-style=\"{background: '#ffc399', color:'black', border : '1px solid #0093dc', cursor: 'allowed'}\">\n                        Delete\n                    </button>\n                </td>\n            </tr>\n        </table>\n        <br>\n        <br>\n\n       <button type=\"Submit\" name=\"Submit\" ng-style=\"{float: 'right', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"> \n       Submit Data\n       </button>\n       <button type=\"button\" ng-click=\"TableAddFirstRecord()\" ng-style=\"{float: 'left', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"> Add Record\n           \n       </button>\n           \n       \n    </form>\n\n<script>\n//send({payload:myFunction1()})\n//few learnigs:  if msg.pyload is used to link data to html tags like \n//<input type=\"text\" id=\"EmpId\" name=\"fname\" value={{msg.payload.TSetData.Selectedobj}} disabled > \n//then \n//ensure orginal data variables in msg.payload are intact through out the session/user interaction. \n\n//\"{{angular_var}}\"  syntax is used in html to pass varible data from angular to html tags\n//angular function send({payload:var/funct}) is used to send the msg to node red using ng-click directives. it updates msg.payload of entire template. \n// if your html view tags like input msg/table/dropdowns are getting reset that means\n//while sending msg, orginal msg got disturbed.\n// to solve this issue you can preserve original msg by adding new varibles to orginal msg.payload .\n// this is allowed but you should not disturb incoming msg.payload varibales data structure.\n// i.e say incoming msg.payload had data structure like msg={\"payload\":{\"emp\":employees}}\n//employees=[{\"name\":\"e1\",\"id\":1,\"dept\":\"dept1\",\"div\":\"div1\"},{\"name\":\"e2\",\"id\":2,\"dept\":\"dept2\",\"div\":\"div2\"},{\"name\":\"e3\",\"id\":3,\"dept\":\"dept3\",\"div\":\"div3\"}]\n// in this case you can add msg={\"payload\":{\"emp\":employees},{\"newVar\":newVarData}} this will works as orignal msg.payload.emp is not disturbed and new object \"NewVar is added\"\n// you can chage values of all varibles . that will not create any error or reset of view.\n\n\n// to check node-red ui is working properly , type \"http://127.0.0.1:1880/ui/\" in chrome browser and click\n//on broweser three dots menu-->more tools-->developer tools ensure at riht side of broweser debug window is opend\n// click on Consol tab to see error/status mssages.\n// you can use console.log(\"your_var_name\"); to see the value\n\n  var test=document.getElementById(\"EmpId\");\n\n(function(scope) {\n    // use this func\n    scope.IntMsg={\"payload\":{\"SetData\":[{}]}};\n    \n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Do something when msg arrives\n            scope.IntMsg=msg;\n  \n    console.log(msg.payload);\n    }\n    });\n\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              \n    //\n    scope.TableFormRowEditBtn=function MyTableFormEditBtn(index){\n        document.getElementById(\"EmptableWithEditDelete1\").rows[index+1].cells[2].getElementsByTagName(\"input\")[0].disabled=false\n        document.getElementById(\"EmptableWithEditDelete1\").rows[index+1].cells[3].getElementsByTagName(\"input\")[0].disabled=false\n        document.getElementById(\"EmptableWithEditDelete1\").rows[index+1].cells[4].getElementsByTagName(\"input\")[0].disabled=false\n        \n        //document.getElementById(\"DivtableWithEditDelete\").rows[index+1].cells[1] provides row-1 column 1 cell. in this cell. as index in JS starts with zero,need to do +1 to get first row.\n        //to access input tag from row-1,column-1, \"getElementsByTagName(\"input\")[0]\" is used.[0] provides first input tag in this context.\n        \n        //console.log(scope.msg.payload.MyFormData.Edit[index]);\n        \n    }\n\n\n    scope.TableAddFirstRecord=function MyTableAddFirstRecordBtn(){\n        //Array index in JS variable starts from Zero  where as table row index starts from 1 so index is added with +1\n        console.log(\"TableAddFirstRecord clicked\");\n        var dummy={\"Pressure\":\"\",};\n        scope.IntMsg.payload.SetData.push(dummy);\n    }\n\n\n    scope.TableFormAddRowBtn=function MyTableFormAddRowBtn(index){\n        //Array index in JS variable starts from Zero  where as table row index starts from 1 so index is added with +1\n       var dummy={\"Pressure\":\"\"};\n        scope.IntMsg.payload.SetData.splice(index+1, 0, dummy);\n    }\n    scope.MyTableFormAction= function MyTableFormData(){\n        var i;\n        for (i = 0; i < scope.IntMsg.payload.SetData.length; i++) {\n            document.getElementById(\"EmptableWithEditDelete1\").rows[i+1].cells[2].getElementsByTagName(\"input\")[0].disabled=true\n            document.getElementById(\"EmptableWithEditDelete1\").rows[i+1].cells[3].getElementsByTagName(\"input\")[0].disabled=true\n            document.getElementById(\"EmptableWithEditDelete1\").rows[i+1].cells[4].getElementsByTagName(\"input\")[0].disabled=true\n        }\n        \n        console.log(\"MyTableFormData\");\n        console.log(scope.IntMsg.payload.SetData);\n        window.confirm(\"Data Saved\");\n        scope.send({\"payload\":(scope.IntMsg.payload)});\n        \n    }\n    scope.TableFormRowDeleteBtn=function MyTableFormRowDeleteBtn(index){\n        var txt;\n        var r = confirm(\"Press OK to Confim Delete \");\n        if (r == true) {\n            scope.IntMsg.payload.SetData.splice(index,1);\n            scope.MyTableFormAction();\n            console.log([\"TableFormRowDeleteBtn\"],index);\n        }\n        \n\n    }\n    \n})(scope);\n\n</script>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":840,"y":980,"wires":[["6fd855ec.f0330c"]]},{"id":"6fd855ec.f0330c","type":"file","z":"974f83a0.4973a","name":"pHCal.txt","filename":"/home/pi/Desktop/pHCal.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1040,"y":980,"wires":[["b5f65e6e.75d48","ed3bafba.5f688"]]},{"id":"ed3bafba.5f688","type":"function","z":"974f83a0.4973a","name":"SetVal","func":"var data = msg.payload.SetData;\nvar n= data.length;\n\n\nfor(i=0;i<n;i++)\n{\n    global.set('Tank'+(i+1) + 'description', msg.payload.SetData[i].Description);\n    global.set('Tank'+(i+1) + 'highPh', msg.payload.SetData[i].highPh);\n    global.set('Tank'+(i+1) + 'highPhTime', msg.payload.SetData[i].highPhTime);\n    global.set('Tank'+(i+1) + 'lowPh', msg.payload.SetData[i].lowPh);\n    global.set('Tank'+(i+1) + 'lowPhTime', msg.payload.SetData[i].lowPhTime);\n    global.set('Tank'+(i+1) + 'delayAfterDozing', msg.payload.SetData[i].delayAfterDozing);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1000,"wires":[["b5f65e6e.75d48"]]},{"id":"b5f65e6e.75d48","type":"debug","z":"974f83a0.4973a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":960,"wires":[]},{"id":"3adcc6c4.e759ea","type":"comment","z":"974f83a0.4973a","name":"taking ph details from tables and setting globally","info":"","x":240,"y":940,"wires":[]},{"id":"a7e68f73.5c145","type":"comment","z":"974f83a0.4973a","name":"Setting pH flow variables","info":"","x":170,"y":80,"wires":[]},{"id":"5b9c82d4.c490cc","type":"ui_group","name":"7 pH calibration","tab":"96e407a4.1e5f28","order":1,"disp":true,"width":"12","collapse":false},{"id":"21ac8585.16698a","type":"ui_group","name":"4 pH calibration ","tab":"96e407a4.1e5f28","order":2,"disp":true,"width":"12","collapse":false},{"id":"ddf2e74f.a7c728","type":"ui_group","name":"Clear calibration input","tab":"96e407a4.1e5f28","order":3,"disp":true,"width":"12","collapse":false},{"id":"9acc62cd.8a2fd","type":"ui_group","z":"","name":"pH Settings","tab":"96e407a4.1e5f28","order":4,"disp":true,"width":"24","collapse":false},{"id":"96e407a4.1e5f28","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":3,"disabled":false,"hidden":false}]