QRcodeGenerator.json
[{"id":"cfb3fc1d.29f7a","type":"qrcode-generator","z":"e563119d.18d06","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":false,"x":490,"y":1160,"wires":[["8763f18e.12a2c"]]},{"id":"babc04e9.970ea8","type":"function","z":"e563119d.18d06","name":"qr code input","func":"var name = global.get('Name' + flow.get('QRrow'))\nvar div = global.get('Department['+ global.get('row'+ flow.get('QRrow')) +']')\n\nmsg.qrcodeinput = name + ',' + div;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1160,"wires":[["cfb3fc1d.29f7a","91f92aaa.2b65f8"]]},{"id":"8763f18e.12a2c","type":"ui_template","z":"e563119d.18d06","group":"7f9dfd09.915414","name":"","order":4,"width":6,"height":6,"format":"<body>\n  <img src=\"{{msg.payload}}\">\n</body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":1160,"wires":[[]]},{"id":"f3bcf96b.9b01e8","type":"ui_button","z":"e563119d.18d06","name":"","group":"7f9dfd09.915414","order":5,"width":6,"height":1,"passthru":false,"label":"Generate QR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1160,"wires":[["babc04e9.970ea8"]]},{"id":"6402e480.93e7ac","type":"ui_text_input","z":"e563119d.18d06","name":"","label":"Enter Serial Number (as per above table)","tooltip":"","group":"7f9dfd09.915414","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":220,"y":1080,"wires":[["11efe08f.fd9f0f"]]},{"id":"11efe08f.fd9f0f","type":"function","z":"e563119d.18d06","name":"row","func":"flow.set('QRrow', Number(msg.payload))\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1080,"wires":[[]]},{"id":"91f92aaa.2b65f8","type":"ui_text","z":"e563119d.18d06","group":"7f9dfd09.915414","order":3,"width":6,"height":1,"name":"","label":"Content: ","format":"{{msg.qrcodeinput}}","layout":"row-left","x":480,"y":1220,"wires":[]},{"id":"7f9dfd09.915414","type":"ui_group","z":"","name":"QR generator","tab":"f96982af.f9c9a","order":2,"disp":true,"width":"24","collapse":false},{"id":"f96982af.f9c9a","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false}]