set time from master.json
[{"id":"f4a7ac96.18a87","type":"tcp in","z":"c5cf7504.389608","name":"","server":"server","host":"","port":"6900","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":120,"y":180,"wires":[["176cd6c4.ed9909"]]},{"id":"893cebaa.0ba608","type":"comment","z":"c5cf7504.389608","name":"Set time from master","info":"","x":150,"y":140,"wires":[]},{"id":"176cd6c4.ed9909","type":"function","z":"c5cf7504.389608","name":"","func":"if(flow.get('SetTime')==1)\n{\n    flow.set('SetTime',0)\n    return msg;   \n}\n","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["6e7dd71b.ff3b78"]]},{"id":"6e7dd71b.ff3b78","type":"exec","z":"c5cf7504.389608","command":"sudo date -s ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"set time","x":460,"y":180,"wires":[["f964aed.ff58f5"],["f964aed.ff58f5"],["f964aed.ff58f5"]]},{"id":"f964aed.ff58f5","type":"debug","z":"c5cf7504.389608","name":"Time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":180,"wires":[]},{"id":"b0090c5a.e9877","type":"inject","z":"c5cf7504.389608","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":550,"y":80,"wires":[["e3c9af30.09ce2"]]},{"id":"e3c9af30.09ce2","type":"function","z":"c5cf7504.389608","name":"setTime","func":"flow.set('SetTime',1)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":80,"wires":[[]]}]