signal strength.json
[{"id":"6c16c533.e5eccc","type":"tab","label":"Signal Strength","disabled":false,"info":""},{"id":"75ed0e40.f3929","type":"inject","z":"6c16c533.e5eccc","name":"Get strength","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"str","x":160,"y":80,"wires":[["4d7ebca9.bd77b4"]]},{"id":"4d7ebca9.bd77b4","type":"exec","z":"6c16c533.e5eccc","command":"iwconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"iwconfig","x":380,"y":80,"wires":[["a2cf5135.172fb","2d5c6f86.ae8f6"],[],[]]},{"id":"a2cf5135.172fb","type":"function","z":"6c16c533.e5eccc","name":"Extract signal config","func":"var input, tokens, inet;\ninput = msg.payload;\ntokens = input.split(\" \", 100);\n//node.warn(tokens)\ninet = tokens[94].split(\"=\",2);\n//node.warn(inet)\nglobal.set('Mac',tokens[27])\nglobal.set('Signal',inet[1])\n//node.warn(tokens[27])\n//node.warn(inet[1])\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":160,"wires":[["2d5c6f86.ae8f6"]]},{"id":"2d5c6f86.ae8f6","type":"debug","z":"6c16c533.e5eccc","name":"test out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":80,"wires":[]},{"id":"889ea20e.93185","type":"inject","z":"6c16c533.e5eccc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":360,"wires":[["7ebf37b7.7c92b8"]]},{"id":"7ebf37b7.7c92b8","type":"function","z":"6c16c533.e5eccc","name":"","func":"var signal=global.get(\"Signal\") \nvar timestamp= new Date();\nvar time = timestamp.getTime()\nvar Local_time=new Date(time).toLocaleString()\nstr1=Local_time+\",\"+signal;\nmsg.payload= str1\nmsg1={}\nmsg1.payload={}\nmsg1.payload=global.get(\"Signal\") \nreturn msg\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":360,"wires":[["e07cd62c.d9f458"],[]]},{"id":"e07cd62c.d9f458","type":"fs-ops-access","z":"6c16c533.e5eccc","name":"File test","path":"","pathType":"str","filename":"/home/pi/Desktop/Signal.csv","filenameType":"str","read":true,"write":false,"throwerror":false,"x":540,"y":360,"wires":[["fb24b19e.b2e2e"],["f8eded8d.be722","de4a9481.3429e8"]]},{"id":"de4a9481.3429e8","type":"function","z":"6c16c533.e5eccc","name":"StructTitleString","func":"msg.payload=\"Date,Time,Signal\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":460,"wires":[["cc9e45d4.a5c118"]]},{"id":"f8eded8d.be722","type":"delay","z":"6c16c533.e5eccc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":400,"wires":[["fb24b19e.b2e2e"]]},{"id":"cc9e45d4.a5c118","type":"file","z":"6c16c533.e5eccc","name":"Signal.csv","filename":"/home/pi/Desktop/Signal.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":950,"y":460,"wires":[[]]},{"id":"fb24b19e.b2e2e","type":"file","z":"6c16c533.e5eccc","name":"Signal.csv","filename":"/home/pi/Desktop/Signal.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":950,"y":360,"wires":[[]]},{"id":"ead33fba.e8cce","type":"inject","z":"6c16c533.e5eccc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":540,"wires":[["df617d39.9c1fb"]]},{"id":"df617d39.9c1fb","type":"fs-ops-delete","z":"6c16c533.e5eccc","name":"Delete Signal","path":"","pathType":"str","filename":"/home/pi/Desktop/Signal.csv","filenameType":"str","x":330,"y":540,"wires":[["2d2bcbc8.028f44"]]},{"id":"2d2bcbc8.028f44","type":"debug","z":"6c16c533.e5eccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":540,"wires":[]},{"id":"f3aa9aa.54b1268","type":"inject","z":"6c16c533.e5eccc","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":620,"wires":[["452ef15d.3aaf9"]]},{"id":"452ef15d.3aaf9","type":"function","z":"6c16c533.e5eccc","name":"","func":"var ip=global.get('IP_Address')\nmsg.payload=\"http://\"+ip+\":1880/Signal.csv\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":620,"wires":[["9ea5c0c9.4e037"]]},{"id":"9ea5c0c9.4e037","type":"ui_template","z":"6c16c533.e5eccc","group":"c1ec0142.7901d","name":"Signal csv","order":1,"width":4,"height":1,"format":"<!DOCTYPE html>\n<html>\n<body>\n    \n<md-button ng-style=\"{background: '#ed89d7', \n                      color:'black',\n                      padding: '10px',\n                      cursor: 'allowed'\n                      \n                      }\"\n\n    ng-click href=\"{{msg.payload}}\"\n>\n<i class=\"fa fa-download\"></i>\nSignal csv\n</md-button>\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":490,"y":620,"wires":[[]]},{"id":"5c220499.a36aac","type":"ui_chart","z":"6c16c533.e5eccc","name":"","group":"10c1ded0.a8f321","order":0,"width":"18","height":"6","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"0","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":240,"wires":[[]]},{"id":"9fc5df34.d3e26","type":"ui_gauge","z":"6c16c533.e5eccc","name":"","group":"10c1ded0.a8f321","order":1,"width":"6","height":"6","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-100","max":"0","colors":["#b31200","#e6e600","#43cb3a"],"seg1":"65","seg2":"50","x":570,"y":280,"wires":[]},{"id":"aa78c30f.050d9","type":"function","z":"6c16c533.e5eccc","name":"","func":"msg={}\nmsg.payload={}\nmsg.payload=global.get(\"Signal\") \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["5c220499.a36aac","9fc5df34.d3e26"]]},{"id":"9aea9015.2cab2","type":"inject","z":"6c16c533.e5eccc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[["aa78c30f.050d9"]]},{"id":"c1ec0142.7901d","type":"ui_group","name":"CSV download","tab":"68f63d90.de1c54","order":2,"disp":true,"width":"24","collapse":false},{"id":"10c1ded0.a8f321","type":"ui_group","name":"Live Signal Strength","tab":"68f63d90.de1c54","order":1,"disp":true,"width":"24","collapse":false},{"id":"68f63d90.de1c54","type":"ui_tab","name":"Signal Strength","icon":"dashboard","order":1,"disabled":false,"hidden":false}]