smsLogic.json
[{"id":"614ddcdd.bca074","type":"tab","label":"SMS Logic updated","disabled":false,"info":""},{"id":"c744d096.2b839","type":"serial in","z":"614ddcdd.bca074","name":"","serial":"625f94d4.86ed5c","x":130,"y":320,"wires":[["796c52a6.38062c","554150fb.f3bcb"]]},{"id":"796c52a6.38062c","type":"function","z":"614ddcdd.bca074","name":"GSM_Module_Response","func":"var ready_from_GSM=msg.payload;\n\nif (ready_from_GSM.search(\"Ready\")===0)\n{\n    flow.set(\"Comm\",1);\n}\nelse if (ready_from_GSM.search(\"failed\")===0)\n{\n    flow.set(\"Comm\",0);\n}","outputs":1,"noerr":0,"x":370,"y":320,"wires":[[]]},{"id":"fcf98485.a5b9e8","type":"fs-ops-access","z":"614ddcdd.bca074","name":"File test","path":"","pathType":"str","filename":"/home/pi/Desktop/smsMaster.txt","filenameType":"str","read":true,"write":false,"throwerror":false,"x":300,"y":400,"wires":[["21e55f76.5969a"],["5d53c236.d1cb8c","67a131c5.01a8f"]]},{"id":"67a131c5.01a8f","type":"file","z":"614ddcdd.bca074","name":"smsMaster.txt","filename":"/home/pi/Desktop/smsMaster.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":480,"y":500,"wires":[[]]},{"id":"21e55f76.5969a","type":"file","z":"614ddcdd.bca074","name":"smsMaster.txt","filename":"/home/pi/Desktop/smsMaster.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":640,"y":400,"wires":[[]]},{"id":"5d53c236.d1cb8c","type":"delay","z":"614ddcdd.bca074","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":440,"wires":[["21e55f76.5969a"]]},{"id":"247b30b2.76ac4","type":"inject","z":"614ddcdd.bca074","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":620,"wires":[["2f3cf2ac.f93c6e"]]},{"id":"2f3cf2ac.f93c6e","type":"function","z":"614ddcdd.bca074","name":"","func":"if(flow.get(\"Comm\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":340,"y":620,"wires":[["dfd875ac.f78ae8"]]},{"id":"ccaa5b90.0e8e18","type":"function","z":"614ddcdd.bca074","name":"","func":"if(msg.payload > 0)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":620,"wires":[["d1efefd5.d8753"]]},{"id":"65645cc.7ae3da4","type":"serial out","z":"614ddcdd.bca074","name":"","serial":"625f94d4.86ed5c","x":1120,"y":620,"wires":[]},{"id":"e0c4bc54.90ca1","type":"debug","z":"614ddcdd.bca074","name":"outMsg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":560,"wires":[]},{"id":"bbd1fcba.cb1aa","type":"function","z":"614ddcdd.bca074","name":"","func":"flow.set(\"Comm\", 0)\nflow.set(\"smsCounter\", flow.get(\"smsCounter\") + 1)\nmsg.payload = flow.get(\"smsCounter\")\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":680,"wires":[["1822a029.7816c"]]},{"id":"fe90314b.0c27d","type":"ui_button","z":"614ddcdd.bca074","name":"","group":"d3da6149.fcc64","order":1,"width":4,"height":1,"passthru":false,"label":"Display pending sms lines","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":170,"y":780,"wires":[["37098f44.c9159"]]},{"id":"17bdd8a6.e0b1b7","type":"ui_template","z":"614ddcdd.bca074","group":"d3da6149.fcc64","name":"","order":6,"width":24,"height":10,"format":"<html>\n    <body>\n        <style>\n            .display\n            {\n                background-color: white;\n            }\n        </style>\n        <p class = \"display\">\n            {{msg.payload}}\n        </p>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1040,"y":780,"wires":[[]]},{"id":"82b412d7.b06b4","type":"ui_button","z":"614ddcdd.bca074","name":"","group":"d3da6149.fcc64","order":5,"width":4,"height":1,"passthru":false,"label":"Delete Last Line","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":140,"y":860,"wires":[["ff8fe694.64b3b8"]]},{"id":"37098f44.c9159","type":"function","z":"614ddcdd.bca074","name":"","func":"if(msg.payload == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":400,"y":780,"wires":[["a21906c7.e96678"]]},{"id":"ff8fe694.64b3b8","type":"function","z":"614ddcdd.bca074","name":"","func":"if(msg.payload == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":400,"y":860,"wires":[["ac076c3c.ae048"]]},{"id":"c4c6f418.bd2c68","type":"ui_toast","z":"614ddcdd.bca074","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":860,"wires":[[]]},{"id":"ec23cfae.e95d9","type":"debug","z":"614ddcdd.bca074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":460,"wires":[]},{"id":"554150fb.f3bcb","type":"debug","z":"614ddcdd.bca074","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":260,"wires":[]},{"id":"a218aa37.52bad8","type":"inject","z":"614ddcdd.bca074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"55 11 * * *","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["ae7210b2.a8b1e"]]},{"id":"ae7210b2.a8b1e","type":"function","z":"614ddcdd.bca074","name":"csv data","func":"flow.set(\"smsCounter\", 0)\nvar date = new Date()\n\nmsg.payload = flow.get(\"smsCounter\") + \",\" + date;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["231783f5.57e8bc","e0abad93.9b32f"]]},{"id":"1822a029.7816c","type":"file","z":"614ddcdd.bca074","name":"smsCounter.txt","filename":"/home/pi/Desktop/smsCounter.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1540,"y":680,"wires":[[]]},{"id":"5d679fd7.11812","type":"inject","z":"614ddcdd.bca074","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":1290,"y":80,"wires":[["109794ac.947c2b"]]},{"id":"109794ac.947c2b","type":"file in","z":"614ddcdd.bca074","name":"smsCounter.txt","filename":"/home/pi/Desktop/smsCounter.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1480,"y":80,"wires":[["3981c2e9.aa5d0e"]]},{"id":"3981c2e9.aa5d0e","type":"function","z":"614ddcdd.bca074","name":"","func":"flow.set(\"smsCounter\", Number(msg.payload))\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":80,"wires":[[]]},{"id":"e0abad93.9b32f","type":"function","z":"614ddcdd.bca074","name":"flow varialbles","func":"flow.set(\"smsCounter\", 0)\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[[]]},{"id":"231783f5.57e8bc","type":"fs-ops-access","z":"614ddcdd.bca074","name":"smsCounterBackup.csv","path":"","pathType":"str","filename":"/home/pi/Desktop/smsCounterBackup.csv","filenameType":"str","read":true,"write":false,"throwerror":false,"x":530,"y":80,"wires":[["695117d4.2bffe8"],["99276ea8.5b9a1","a38c7cc0.bcda6"]]},{"id":"a38c7cc0.bcda6","type":"file","z":"614ddcdd.bca074","name":"smsCounterBackup.csv","filename":"/home/pi/Desktop/smsCounterBackup.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":790,"y":180,"wires":[[]]},{"id":"695117d4.2bffe8","type":"file","z":"614ddcdd.bca074","name":"smsCounterBackup.csv","filename":"/home/pi/Desktop/smsCounterBackup.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":930,"y":80,"wires":[[]]},{"id":"99276ea8.5b9a1","type":"delay","z":"614ddcdd.bca074","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":120,"wires":[["695117d4.2bffe8"]]},{"id":"aab2feb5.df4cb","type":"ui_text","z":"614ddcdd.bca074","group":"d3da6149.fcc64","order":3,"width":8,"height":1,"name":"","label":"No. of SMS sent:","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":140,"wires":[]},{"id":"ed5175bd.9ca718","type":"inject","z":"614ddcdd.bca074","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":1290,"y":140,"wires":[["e4e2b546.1d5848"]]},{"id":"e4e2b546.1d5848","type":"function","z":"614ddcdd.bca074","name":"smsCounter","func":"msg.payload = flow.get(\"smsCounter\")\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":140,"wires":[["aab2feb5.df4cb"]]},{"id":"4ff0da44.ec2964","type":"link in","z":"614ddcdd.bca074","name":"","links":["2c35aace.073156"],"x":75,"y":460,"wires":[["fcf98485.a5b9e8","ec23cfae.e95d9"]]},{"id":"6cb017c5.e55de8","type":"debug","z":"614ddcdd.bca074","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":720,"wires":[]},{"id":"17349a69.d15806","type":"function","z":"614ddcdd.bca074","name":"","func":"var len = msg.payload.length\nvar arr = msg.payload\nvar str = \"\"\n\nfor(i = 0; i<len ; i++)\n{\n    str = str + arr[i] + \"\\n\"\n}\n\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":780,"wires":[["17bdd8a6.e0b1b7"]]},{"id":"dfd875ac.f78ae8","type":"python3-function","z":"614ddcdd.bca074","name":"no_of_lines.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\n\nwith open(filename, 'r') as f:\n    lines = f.read().splitlines()\n    no_of_lines = len(lines)\n    msg['payload'] = no_of_lines\n    node.send(msg)\n","outputs":1,"x":520,"y":620,"wires":[["ccaa5b90.0e8e18"]]},{"id":"d1efefd5.d8753","type":"python3-function","z":"614ddcdd.bca074","name":"first_line.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\n\nwith open(filename, 'r') as f:\n    lines = f.read().splitlines()\n    first_line = lines[0]\n    msg['payload'] = first_line\n    node.send(msg)","outputs":1,"x":910,"y":620,"wires":[["e0c4bc54.90ca1","65645cc.7ae3da4","1033363c.f9239a"]]},{"id":"1033363c.f9239a","type":"python3-function","z":"614ddcdd.bca074","name":"deleteFirstLine.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\n\nwith open(filename, 'r') as f:\n    lines = f.readlines()\n\ndel lines[0]\n\nwith open(filename, 'w+') as f:\n    for i in range(len(lines)):\n        f.write(lines[i])\n\nmsg['payload'] = 'nextStep'\nnode.send(msg)","outputs":1,"x":1130,"y":680,"wires":[["bbd1fcba.cb1aa"]]},{"id":"a21906c7.e96678","type":"python3-function","z":"614ddcdd.bca074","name":"displayLines.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\nlineArray = []\n\nwith open(filename, 'r') as f:\n    lines = f.readlines()\n\nif(lines == []):\n    msg['payload'] = []\n    node.send(msg)\n\nelse:\n    for i in range(len(lines)):\n        lineArray.append(lines[i])\n        msg['payload'] = lineArray\n        node.send(msg)","outputs":1,"x":600,"y":780,"wires":[["6cb017c5.e55de8","17349a69.d15806"]]},{"id":"ac076c3c.ae048","type":"python3-function","z":"614ddcdd.bca074","name":"deleteLastLine.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\n\ntry:\n    with open(filename, 'r') as f:\n        lines = f.readlines()\n\n    del lines[-1]\n\n    with open(filename, 'w+') as f:\n        for i in range(len(lines)):\n            f.write(lines[i])\n    \n    msg['payload'] = \"Last line deleted\"\n    node.send(msg)\n\nexcept:\n    msg['payload'] = \"No line to delete, file is empty\"\n    node.send(msg)","outputs":1,"x":610,"y":860,"wires":[["c4c6f418.bd2c68","c1e98da0.2dd6f"]]},{"id":"c1e98da0.2dd6f","type":"python3-function","z":"614ddcdd.bca074","name":"displayLines.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\n\nwith open(filename, 'r') as f:\n    lines = f.readlines()\n\nfor i in range(len(lines)):\n    msg['payload'] = str(lines[i])\n    node.send(msg)","outputs":1,"x":840,"y":920,"wires":[["17bdd8a6.e0b1b7"]]},{"id":"aef9aa03.531928","type":"tcp in","z":"614ddcdd.bca074","name":"","server":"server","host":"","port":"6900","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":120,"y":400,"wires":[["ec23cfae.e95d9","fcf98485.a5b9e8"]]},{"id":"625f94d4.86ed5c","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d3da6149.fcc64","type":"ui_group","name":"Display","tab":"b0ec0970.07a898","order":1,"disp":true,"width":"24","collapse":false},{"id":"b0ec0970.07a898","type":"ui_tab","name":"Network Que","icon":"dashboard","order":3,"disabled":false,"hidden":false}]