smsLogicWithTxt.json
[{"id":"8f47e680.97bb18","type":"tab","label":"SMS Input","disabled":false,"info":""},{"id":"b54499f2.54e0b8","type":"tab","label":"SMS Logic","disabled":false,"info":""},{"id":"121fa02b.9c0b1","type":"ui_group","name":"Notification Settings","tab":"62faf853.8075a8","order":1,"disp":true,"width":"24","collapse":true},{"id":"5994c5fa.c6560c","type":"ui_group","name":"Machine Details","tab":"c9ecb3e5.3b3b1","order":1,"disp":true,"width":24,"collapse":true},{"id":"625f94d4.86ed5c","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d3da6149.fcc64","type":"ui_group","name":"Display","tab":"b0ec0970.07a898","order":1,"disp":true,"width":"24","collapse":false},{"id":"62faf853.8075a8","type":"ui_tab","name":"Alert Notification Settings","icon":"fa-address-book","order":6,"disabled":false,"hidden":false},{"id":"c9ecb3e5.3b3b1","type":"ui_tab","name":"Substation Input Details","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"b0ec0970.07a898","type":"ui_tab","name":"Network Que","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"1b0c5566.80dcab","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d10ab4b9.73bb18","type":"rpi-gpio in","z":"8f47e680.97bb18","name":"","pin":"7","intype":"up","debounce":"100","read":true,"x":110,"y":220,"wires":[["434b13fe.fe5a3c"]]},{"id":"1df941c5.0a5f8e","type":"rpi-gpio in","z":"8f47e680.97bb18","name":"","pin":"16","intype":"up","debounce":"100","read":true,"x":120,"y":280,"wires":[["62af8ecd.2757f"]]},{"id":"6beff54e.ccdc9c","type":"rpi-gpio in","z":"8f47e680.97bb18","name":"","pin":"13","intype":"up","debounce":"100","read":true,"x":120,"y":340,"wires":[["7e9d0b4e.ff37b4"]]},{"id":"8b65ddfb.5b3ee","type":"inject","z":"8f47e680.97bb18","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":150,"y":860,"wires":[["258ba38a.de6b0c"]]},{"id":"258ba38a.de6b0c","type":"file in","z":"8f47e680.97bb18","name":"myform.txt","filename":"/home/pi/Desktop/myform.txt","format":"utf8","chunk":false,"sendError":false,"x":330,"y":860,"wires":[["5f5177e4.1f6c58"]]},{"id":"5f5177e4.1f6c58","type":"function","z":"8f47e680.97bb18","name":"settings obj","func":"global.set(\"Esettings\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":860,"wires":[["2cd2a6ac.e3ccca"]]},{"id":"2cd2a6ac.e3ccca","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":690,"y":860,"wires":[["ce08d0dd.c5431"]]},{"id":"475ccc6a.76ed04","type":"file","z":"8f47e680.97bb18","name":"myform.txt","filename":"/home/pi/Desktop/myform.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1070,"y":860,"wires":[["e79de918.3fce28"]]},{"id":"e79de918.3fce28","type":"function","z":"8f47e680.97bb18","name":"settings obj","func":"global.set(\"Esettings\",msg.payload);\nvar NoOfRecip=msg.payload.NoOfRecip;\nvar email=[];\nvar Mobile=[];\nvar RecipDetails=msg.payload.RecipDetails;\nfor(i=0;i<NoOfRecip;i++)\n{\n    email[i]=RecipDetails[i].EmailId;\n    Mobile[i]=RecipDetails[i].Mobile;\n}\n//node.warn([email,Mobile]);\nflow.set('NoOfRecip',NoOfRecip)\nflow.set('MobileNo',Mobile);\nflow.set('EmailID',email);\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":860,"wires":[[]]},{"id":"ce08d0dd.c5431","type":"ui_template","z":"8f47e680.97bb18","group":"121fa02b.9c0b1","name":"NotificationSetting","order":0,"width":"0","height":"0","format":"<html>\n<body>\n<style>\ninput[type=text]{\n    \tbackground-color: white;\n    \ttext-align : center;\n    \tcolor : black;\n        border:none;\n        padding : 7px;\n    }\n    input[type=submit] {\n  background-color: #4CAF50;\n  color: white;\n  padding: 5px 7px;\n  text-align : center;\n  border: none;\n  border-radius: 1px;\n  cursor: allowed;\n  float: left;\n}\n\ninput[type=submit]:hover {\n  background-color: #45a049;\n}\ntable, tr, th, td {\n        \n        background-color: white;\n        border-collapse: collapse;\n\t\tborder: 1px solid black;\n\t\tcolor : black;\n\t\ttext-align : center;\n\t\tpadding: 1px\n}\n\n input[type=number]{\n    background-color: white;\n    color : black;\n    text-align : center;\n    border : 1px solid #0093dc;\n    padding : 7px 6px;\n    text-align : center;\n    }   \n    th{\n\talign : center;\n\t  color: white;\n\t  font-weight: normal;\n\t  font-family: Candara;\n\t  font-size: 110%;\n\t  background-color:#097479;\n\t  padding : 7px 3px\n\t  }\n\t  \n\t  table\n\t  {\n\t      height:100%;\n\t  }\n</style>\n\n    \n<form id=\"MobileNoForm\"  ng-submit=\"submitlist()\" ng-repeat=\"SetVal in Val\" align=\"center\">\n<br>\n<div padding: 5px;  margin: 5px;\" >\n<div class = \"addrow\">\n<div class = \"column\">\n<br><br>\n\n<table id=\"mytable\" class=\"table table-bordered\" align = \"center\">\n<thead>\n<tr>\n<th style=\"width:5%;\">Sr.No.</th>\n<th style=\"width:20% type='text' name ='Name';\">Name</th>\n<th style=\"width:30% type='text' name ='Mobile';\">Mobile Number</th>\n<th style=\"width:30% type='text' name ='EmailId';\">E-mail Id</th>\n<th style=\"width:15%;\">Actions</th>                             \n</tr>\n</thead>\n<tbody align=\"center\">\n<tr ng-repeat=\"Details in recipients\">\n<td>{{$index+1}}</td>\n<td><input  type=\"text\" name=\"Name{{$index}}\" placeholder = \"Enter Name of recipient..\" ng-model=\"Details.Name\" required></td>\n<td><input type=\"text\" name=\"Mobile{{$index}}\"  placeholder = \"Enter Mobile No...\" ng-model=\"Details.Mobile\" required></td>\n<td><input type=\"text\" name=\"EmailId{{$index}}\"  placeholder = \"Enter Email Id...\" ng-model=\"Details.EmailId\" required></td>\n<td><div class=\"buttons\">\n<input type=\"button\" value=\"Delete\" ng-click=\"deleteDetails($index)\" ng-style=\"{background: '#ffc399', color:'black', border : '1px solid #0093dc', cursor: 'allowed'}\"></div></td>\n</tr>\n</tbody>\n</table>\n<br><br>\n<input type=\"button\" name=\"NoOfRecip\"  value =\"Add Recipient\" ng-click=\"addRecipient()\" ng-style=\"{align:'right',float: 'left',background: '#7dcfff', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\">\n</div>\n</div>\n</div>\n<input type=\"submit\" class=\"btn btn-primary\" value=\"Submit\" ng-style=\"{float: 'right', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"/>   \n\n</form>\n<script>\n\t (function(scope) {   \t\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n    \t\n      $(\"#my_\"+scope.$id).html(msg.payload);\n   scope.data = angular.copy(msg.payload.RecipDetails);\n    scope.SetVal = angular.copy(msg.payload.SetVal);\n    }\n   scope.recipients = angular.copy(scope.data);\n    scope.Val = angular.copy(scope.SetVal); \n  });\n\n//scope.SetVal =[{XBand1:150,YBand1:150,ZBand1:150}];\n  \n//scope.Val = angular.copy(scope.SetVal);\n\t scope.enabledEdit = [];\t\n //scope.data = [{ Name:\"\",Mobile:\"\",EmailId:\"\"}];\n  \n//\tscope.recipients = angular.copy(scope.data);\n\n\t \n\t    scope.addRecipient = function(){\n\tvar Details ={Name:\"\",Mobile:\"\",EmailId:\"\"};\n\t\tscope.recipients.push(Details);\n\t\tscope.enabledEdit[scope.recipients.length-1]=true;\n}\n\t  scope.editDetails = function(index){\n\t  console.log(\"edit index\"+index);\n\t  scope.enabledEdit[index] = true;\n\t}\n\tscope.deleteDetails = function(index) {\n\t\tvar r = confirm(\"Are you sure you want to delete?\");\n  if (r == true) {\n    txt = \"You pressed OK!\";\n    scope.recipients.splice(index,1);\n  } else {\n    txt = \"You pressed Cancel!\";\n  }\n  document.getElementById(\"demo\").innerHTML = txt;\n\t\n\t}\n\n\t\n\t scope.submitlist = function(){\n\nvar msg={\"payload\":{\"RecipDetails\" :(scope.recipients),\"NoOfRecip\":(scope.recipients.length),\"SetVal\":(scope.Val)}};\nscope.send(msg);\n\twindow.confirm(\"Data Saved\");\n\nconsole.log(\"form submitted:\"+angular.toJson(scope.recipients));\n\n}\n})(scope);\n</script>            \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":860,"wires":[["475ccc6a.76ed04","d11eabf1.45eee8"]]},{"id":"d11eabf1.45eee8","type":"debug","z":"8f47e680.97bb18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":940,"wires":[]},{"id":"abf662c.47660a","type":"rpi-gpio in","z":"8f47e680.97bb18","name":"","pin":"29","intype":"up","debounce":"100","read":true,"x":120,"y":400,"wires":[["3ace224e.be856e"]]},{"id":"80d95ab7.711c18","type":"rpi-gpio in","z":"8f47e680.97bb18","name":"","pin":"22","intype":"up","debounce":"100","read":true,"x":120,"y":460,"wires":[["b20685ec.f91708"]]},{"id":"30459975.177c56","type":"rpi-gpio in","z":"8f47e680.97bb18","name":"","pin":"36","intype":"up","debounce":"100","read":true,"x":120,"y":520,"wires":[["966aee3d.adb0b"]]},{"id":"d8ed12d1.0a259","type":"rpi-gpio in","z":"8f47e680.97bb18","name":"","pin":"40","intype":"up","debounce":"100","read":true,"x":120,"y":580,"wires":[["e1c8d78b.6793b8"]]},{"id":"2fabc58e.d6c8ca","type":"rpi-gpio in","z":"8f47e680.97bb18","name":"","pin":"35","intype":"up","debounce":"100","read":true,"x":120,"y":640,"wires":[["1912ced.64cc331"]]},{"id":"93c05ac9.7a2c18","type":"rpi-gpio in","z":"8f47e680.97bb18","name":"","pin":"31","intype":"up","debounce":"100","read":true,"x":120,"y":700,"wires":[["87897cd0.1a658"]]},{"id":"434b13fe.fe5a3c","type":"function","z":"8f47e680.97bb18","name":"","func":"flow.set('Input1Pin',msg.payload);\nif(msg.payload === 0)\n{\n    flow.set('Input1_Stat', flow.get(\"Input1faultStatus\"))\n    msg.payload=flow.get(\"Input1faultStatus\")\n    return msg;\n}\nelse\n{\n    flow.set('Input1_Stat',flow.get(\"Input1restoredStatus\"))\n    msg.payload=flow.get(\"Input1restoredStatus\")\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[[]]},{"id":"5428ff09.f393d","type":"rbe","z":"8f47e680.97bb18","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":850,"y":1560,"wires":[["5070208e.d71f9"]]},{"id":"5070208e.d71f9","type":"function","z":"8f47e680.97bb18","name":"","func":"var Status = msg.payload\nvar timestamp= new Date();\nvar time1 = timestamp.getTime()\nvar time =new Date(time1).toLocaleString() \nvar MobilNo = flow.get('MobileNo')\nvar NoOfRecip = flow.get('NoOfRecip')\nmsg={}\nmsg.payload={}\nmsg.topic=\"Substation Alert\"\nmsg.payload=flow.get('Input1')+\" alert \\nStatus:\"+Status+\"\\nTime: \" + time;\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\",\"zhb@godrej.com\",\"ssp@godrej.com\",\"kazim@godrej.com\",\"skdu@godrej.com\"];\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\"];\nvar email=flow.get('EmailID')\nvar Recip=email.length;\nnode.warn(Recip)\nmsg.to=email[0]\nfor(i=1;i<Recip;i++)\n{\n    msg.to=msg.to+\",\"+email[i];\n \n}\nmsg1={};\nmsg1.payload={};\nmsg1.payload = {\n    \t\t\t\t\t\ttime      :   time,\n    \t\t\t\t\t\tMobilNo   :   MobilNo,\n    \t\t\t\t\t\tNoOfRecip :   NoOfRecip,\n    \t\t\t\t\t\tAlertType :  flow.get('Input1')+\" alert , Status: \"+Status+\" at Time: \" + time,\n    \t\t\t\t\t\t//AlertType :   \"Time \"+time+\" ,LVD Abnormal Temperature\"\n    \t\t\t };\nmsg2={};\nmsg2.payload={};\nmsg2.payload=msg\n\t \nnode.send([msg2 , msg1]);\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1560,"wires":[["d99c0123.af7df"],["1e2d0c35.ced524"]]},{"id":"ea27afdd.14bd1","type":"inject","z":"8f47e680.97bb18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":2120,"wires":[["ce6ac2e8.abb69","7c0568a5.16a098","c517808d.647c9","a927154f.712e38","dd718093.11547","d863a96f.0574d8","a8f3397.48cfdc8","5e74f2d0.f4ab1c","2b3f8e02.59fba2","3848038.8f502fc"]]},{"id":"ce6ac2e8.abb69","type":"function","z":"8f47e680.97bb18","name":"","func":"if(flow.get(\"Input\" + flow.get('id') + \"Pin\") == 1)\n{\n    if((typeof(flow.get('Input1')))===\"string\")\n    {\n    msg.payload=flow.get('Input1_Stat')\n    return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1560,"wires":[["fff53ec6.659af"]]},{"id":"ca314ddd.2e34a","type":"link out","z":"8f47e680.97bb18","name":"","links":["b6fd8883.90eb68","612f08ae.42c658"],"x":1685,"y":2160,"wires":[]},{"id":"1e2d0c35.ced524","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":1580,"wires":[["ca314ddd.2e34a","d4de355c.463538"]]},{"id":"27d381e8.77807e","type":"inject","z":"8f47e680.97bb18","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":150,"y":1040,"wires":[["803c4374.05686"]]},{"id":"803c4374.05686","type":"file in","z":"8f47e680.97bb18","name":"myform5.txt","filename":"/home/pi/Desktop/myform5.txt","format":"utf8","chunk":false,"sendError":false,"x":310,"y":1040,"wires":[["62bef18b.4002a"]]},{"id":"62bef18b.4002a","type":"function","z":"8f47e680.97bb18","name":"settings obj","func":"global.set(\"settings\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1040,"wires":[["78e74735.5221d8"]]},{"id":"78e74735.5221d8","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":610,"y":1040,"wires":[["1046d415.2e985c"]]},{"id":"1046d415.2e985c","type":"ui_template","z":"8f47e680.97bb18","group":"5994c5fa.c6560c","name":"INPUT Details","order":4,"width":"0","height":"0","format":"<html>\n    <head>\n        \n    </head>\n    <body>\n      <style>\nbody{\n    background-image : url(\"/background9.jpg\");\n}\n    \n    input[type=text]\n    {\n        \n        background-color: white;\n        color : black;\n        width:90%;\n        border:none;\n        padding : 7px;\n        text-align: center;\n        word-break: break-all;\n        word-break: break-word;\n        overflow-wrap: break-word;\n        word-wrap: break-word;\n        -ms-word-break: break-all;\n    }\n    input[type=submit] {\n  background-color: #4CAF50;\n  color: white;\n  padding: 5px 7px;\n  border: none;\n  border-radius: 1px;\n  cursor: allowed;\n  float: left;\n}\n\ninput[type=submit]:hover {\n  background-color: #45a049;\n}\ntable, tr,th, td {\n        background-color:white;\n        border-collapse: collapse;\n\t\tborder: 1px solid black;\n\t\tpadding: 1px\n}\n input[type=number]{\nbackground-color: white;\ncolor : black;\n  border : 1px solid #0093dc;\n  padding : 7px 6px;\n  text-align : center;\n    }\n    th{\n\t  align : center;\n\t  color: white;\n\t  font-weight: normal;\n\t  font-family: Candara;\n\t  font-size: 110%;\n\t  background-color: #097479;\n\t  padding : 7px 3px\n\t  }\n\t  tr,th, td {\n\t    text-align : center;\n}\n</style>\n  \n    \n<div>\n\n\n<div >\n    <form id=\"TableForm\" ng-submit=\"MyTableFormAction()\" >\n        <table align = \"center\" id=\"EmptableWithEditDelete4\">\n            <tr>\n                <th>\n                    INPUT\n                </th>\n                <th>\n                    Location name & parameter\n                </th>\n                <th>\n                    Fault Status\n                </th>\n                <th>\n                    Restored Status\n                </th>\n                <th>\n                    Notification delay (sec)\n                </th>\n                <th>\n                    Edit\n                </th>\n                <th>\n                    Add Record\n                </th>                \n                <th>\n                    Delete\n                </th>\n            </tr>\n            <tr ng-repeat=\"Set in IntMsg.payload.SetData\"  ng-style=\"{ color:'black'}\">\n                <td disabled=\"true\" >\n                    INPUT {{$index+1}}\n                </td>\n                <td>\n                    <input type=\"text\" id=\"EmpIDInput{{$index}}\" ng-model=\"Set.Name\"  disabled=\"true\" required><!--ng-model=-->\n                </td>\n                <td>\n                    <input type=\"text\" id=\"EmpIDInput{{$index}}\" ng-model=\"Set.faultStatus\"  disabled=\"true\" required><!--ng-model=-->\n                </td>\n                <td>\n                    <input type=\"text\" id=\"EmpIDInput{{$index}}\" ng-model=\"Set.restoredStatus\"  disabled=\"true\" required><!--ng-model=-->\n                </td>\n                <td>\n                    <input type=\"text\" id=\"EmpIDInput{{$index}}\" ng-model=\"Set.notificationDelay\"  disabled=\"true\" required><!--ng-model=-->\n                </td>\n                <td>\n                    <button type=\"button\"  ng-click=\"TableFormRowEditBtn($index)\" ng-style=\"{background: '#ffc399', color:'black', border : '1px solid #0093dc', cursor: 'allowed'}\">\n                        Edit\n                    </button>\n                        \n                </td>\n                <td>\n                    <button type=\"button\"  ng-click=\"TableFormAddRowBtn($index)\" ng-style=\"{background: '#ffc399', color:'black', border : '1px solid #0093dc', cursor: 'allowed'}\">\n                        Add Record\n                    </button>\n                        \n                </td>\n                <td>\n                    <button type=\"button\" ng-click=\"TableFormRowDeleteBtn($index)\" ng-style=\"{background: '#ffc399', color:'black', border : '1px solid #0093dc', cursor: 'allowed'}\">\n                        Delete\n                    </button>\n                </td>\n            </tr>\n        </table>\n        <br>\n       <button type=\"Submit\" name=\"Submit\" ng-style=\"{float: 'right', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"> Submit Data\n       </button>\n       <button type=\"button\" ng-click=\"TableAddFirstRecord()\" ng-style=\"{float: 'left', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"> Add Record\n           \n       </button>\n           \n       \n    </form>\n</div>\n</div>\n<script>\n//send({payload:myFunction1()})\n//few learnigs:  if msg.pyload is used to link data to html tags like \n//<input type=\"text\" id=\"EmpId\" name=\"fname\" value={{msg.payload.TSetData.Selectedobj}} disabled > \n//then \n//ensure orginal data variables in msg.payload are intact through out the session/user interaction. \n\n//\"{{angular_var}}\"  syntax is used in html to pass varible data from angular to html tags\n//angular function send({payload:var/funct}) is used to send the msg to node red using ng-click directives. it updates msg.payload of entire template. \n// if your html view tags like input msg/table/dropdowns are getting reset that means\n//while sending msg, orginal msg got disturbed.\n// to solve this issue you can preserve original msg by adding new varibles to orginal msg.payload .\n// this is allowed but you should not disturb incoming msg.payload varibales data structure.\n// i.e say incoming msg.payload had data structure like msg={\"payload\":{\"emp\":employees}}\n//employees=[{\"name\":\"e1\",\"id\":1,\"dept\":\"dept1\",\"div\":\"div1\"},{\"name\":\"e2\",\"id\":2,\"dept\":\"dept2\",\"div\":\"div2\"},{\"name\":\"e3\",\"id\":3,\"dept\":\"dept3\",\"div\":\"div3\"}]\n// in this case you can add msg={\"payload\":{\"emp\":employees},{\"newVar\":newVarData}} this will works as orignal msg.payload.emp is not disturbed and new object \"NewVar is added\"\n// you can chage values of all varibles . that will not create any error or reset of view.\n\n\n// to check node-red ui is working properly , type \"http://127.0.0.1:1880/ui/\" in chrome browser and click\n//on broweser three dots menu-->more tools-->developer tools ensure at riht side of broweser debug window is opend\n// click on Consol tab to see error/status mssages.\n// you can use console.log(\"your_var_name\"); to see the value\n\n  var test=document.getElementById(\"EmpId\");\n\n(function(scope) {\n    // use this func\n    scope.IntMsg={\"payload\":{\"SetData\":[{}]}};\n    \n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Do something when msg arrives\n            scope.IntMsg=msg;\n  \n    console.log(msg.payload);\n    }\n    });\n\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              \n    //\n    scope.TableFormRowEditBtn=function MyTableFormEditBtn(index){\n        console.log(\"hi\");\n        document.getElementById(\"EmptableWithEditDelete4\").rows[index+1].cells[1].getElementsByTagName(\"input\")[0].disabled=false\n        document.getElementById(\"EmptableWithEditDelete4\").rows[index+1].cells[2].getElementsByTagName(\"input\")[0].disabled=false\n        document.getElementById(\"EmptableWithEditDelete4\").rows[index+1].cells[3].getElementsByTagName(\"input\")[0].disabled=false\n        document.getElementById(\"EmptableWithEditDelete4\").rows[index+1].cells[4].getElementsByTagName(\"input\")[0].disabled=false\n        //document.getElementById(\"DivtableWithEditDelete\").rows[index+1].cells[1] provides row-1 column 1 cell. in this cell. as index in JS starts with zero,need to do +1 to get first row.\n        //to access input tag from row-1,column-1, \"getElementsByTagName(\"input\")[0]\" is used.[0] provides first input tag in this context.\n    \n        \n        //console.log(scope.msg.payload.MyFormData.Edit[index]);\n        \n    }\n\n\n    scope.TableAddFirstRecord=function MyTableAddFirstRecordBtn(){\n        //Array index in JS variable starts from Zero  where as table row index starts from 1 so index is added with +1\n        console.log(\"TableAddFirstRecord clicked\");\n        var dummy={\"Name\":\"\"};\n        scope.IntMsg.payload.SetData.push(dummy);\n    }\n\n\n    scope.TableFormAddRowBtn=function MyTableFormAddRowBtn(index){\n        //Array index in JS variable starts from Zero  where as table row index starts from 1 so index is added with +1\n       var dummy={\"Name\":\"\"};\n        scope.IntMsg.payload.SetData.splice(index+1, 0, dummy);\n    }\n    scope.MyTableFormAction= function MyTableFormData(){\n        var i;\n        for (i = 0; i < scope.IntMsg.payload.SetData.length; i++) {\n            document.getElementById(\"EmptableWithEditDelete4\").rows[i+1].cells[1].getElementsByTagName(\"input\")[0].disabled=true\n            document.getElementById(\"EmptableWithEditDelete4\").rows[i+1].cells[2].getElementsByTagName(\"input\")[0].disabled=true\n            document.getElementById(\"EmptableWithEditDelete4\").rows[i+1].cells[3].getElementsByTagName(\"input\")[0].disabled=true\n            document.getElementById(\"EmptableWithEditDelete4\").rows[i+1].cells[4].getElementsByTagName(\"input\")[0].disabled=true\n \n        }\n        \n        console.log(\"MyTableFormData\");\n        console.log(scope.IntMsg.payload.SetData);\n        window.confirm(\"Data Saved\");\n        scope.send({\"payload\":(scope.IntMsg.payload)});\n        \n    }\n    scope.TableFormRowDeleteBtn=function MyTableFormRowDeleteBtn(index){\n        var txt;\n        var r = confirm(\"Press OK to Confim Delete \");\n        if (r == true) {\n            scope.IntMsg.payload.SetData.splice(index,1);\n            scope.MyTableFormAction();\n            console.log([\"TableFormRowDeleteBtn\"],index);\n        }\n        \n\n    }\n    \n})(scope);\n\n\n</script>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":1040,"wires":[["934a0bf8.440ef8"]]},{"id":"934a0bf8.440ef8","type":"file","z":"8f47e680.97bb18","name":"myform5.txt","filename":"/home/pi/Desktop/myform5.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":930,"y":1040,"wires":[["bb0c032f.8619b","bfe68c7a.143de"]]},{"id":"bfe68c7a.143de","type":"function","z":"8f47e680.97bb18","name":"SetVal","func":"var Value=msg.payload.SetData\nvar length = Value.length\n//node.warn(length)\nfor(var i = 0;i<length;i++)\n{\n    flow.set('Input'+(i+1), Value[i].Name)\n    flow.set('Input'+(i+1)+'faultStatus', Value[i].faultStatus)\n    flow.set('Input'+(i+1)+'restoredStatus',Value[i].restoredStatus)\n    flow.set('Input'+(i+1)+'notificationDelay',Value[i].notificationDelay)\n}\n//node.warn(flow.get('Input1'))\n//node.warn(flow.get('Input2'))","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":1080,"wires":[["bb0c032f.8619b"]]},{"id":"bb0c032f.8619b","type":"debug","z":"8f47e680.97bb18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":1040,"wires":[]},{"id":"62af8ecd.2757f","type":"function","z":"8f47e680.97bb18","name":"","func":"flow.set('Input2Pin',msg.payload);\nif(msg.payload === 0)\n{\n    flow.set('Input2_Stat', flow.get(\"Input2faultStatus\"))\n    msg.payload= flow.get(\"Input2faultStatus\")\n    return msg;\n}\nelse\n{\n    flow.set('Input2_Stat', flow.get(\"Input2restoredStatus\"))\n    msg.payload= flow.get(\"Input2restoredStatus\")\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[[]]},{"id":"7e9d0b4e.ff37b4","type":"function","z":"8f47e680.97bb18","name":"","func":"flow.set('Input3Pin',msg.payload);\nif(msg.payload === 0)\n{\n    flow.set('Input3_Stat', flow.get(\"Input3faultStatus\"))\n    msg.payload= flow.get(\"Input3faultStatus\")\n    return msg;\n}\nelse\n{\n    flow.set('Input3_Stat', flow.get(\"Input3restoredStatus\"))\n    msg.payload= flow.get(\"Input3restoredStatus\")\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":340,"wires":[[]]},{"id":"3ace224e.be856e","type":"function","z":"8f47e680.97bb18","name":"","func":"flow.set('Input4Pin',msg.payload);\nif(msg.payload === 0)\n{\n    flow.set('Input4_Stat', flow.get(\"Input4faultStatus\"))\n    msg.payload= flow.get(\"Input4faultStatus\")\n    return msg;\n}\nelse\n{\n    flow.set('Input4_Stat', flow.get(\"Input4restoredStatus\"))\n    msg.payload= flow.get(\"Input4restoredStatus\")\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":400,"wires":[[]]},{"id":"b20685ec.f91708","type":"function","z":"8f47e680.97bb18","name":"","func":"flow.set('Input5Pin',msg.payload);\nif(msg.payload === 0)\n{\n    flow.set('Input5_Stat', flow.get(\"Input5faultStatus\"))\n    msg.payload= flow.get(\"Input5faultStatus\")\n    return msg;\n}\nelse\n{\n    flow.set('Input5_Stat', flow.get(\"Input5restoredStatus\"))\n    msg.payload= flow.get(\"Input5restoredStatus\")\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":460,"wires":[[]]},{"id":"966aee3d.adb0b","type":"function","z":"8f47e680.97bb18","name":"","func":"flow.set('Input6Pin',msg.payload);\nif(msg.payload === 0)\n{\n    flow.set('Input6_Stat', flow.get(\"Input6faultStatus\"))\n    msg.payload= flow.get(\"Input6faultStatus\")\n    return msg;\n}\nelse\n{\n    flow.set('Input6_Stat', flow.get(\"Input6restoredStatus\"))\n    msg.payload= flow.get(\"Input6restoredStatus\")\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":520,"wires":[[]]},{"id":"e1c8d78b.6793b8","type":"function","z":"8f47e680.97bb18","name":"","func":"flow.set('Input7Pin',msg.payload);\nif(msg.payload === 0)\n{\n    flow.set('Input7_Stat', flow.get(\"Input7faultStatus\"))\n    msg.payload= flow.get(\"Input7faultStatus\")\n    return msg;\n}\nelse\n{\n    flow.set('Input7_Stat', flow.get(\"Input7restoredStatus\"))\n    msg.payload= flow.get(\"Input7restoredStatus\")\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":580,"wires":[[]]},{"id":"1912ced.64cc331","type":"function","z":"8f47e680.97bb18","name":"","func":"flow.set('Input8Pin',msg.payload);\nif(msg.payload === 0)\n{\n    flow.set('Input8_Stat', flow.get(\"Input8faultStatus\"))\n    msg.payload= flow.get(\"Input8faultStatus\")\n    return msg;\n}\nelse\n{\n    flow.set('Input8_Stat', flow.get(\"Input8restoredStatus\"))\n    msg.payload= flow.get(\"Input8restoredStatus\")\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":640,"wires":[[]]},{"id":"87897cd0.1a658","type":"function","z":"8f47e680.97bb18","name":"","func":"flow.set('Input9Pin',msg.payload);\nif(msg.payload === 0)\n{\n    flow.set('Input9_Stat', flow.get(\"Input9faultStatus\"))\n    msg.payload= flow.get(\"Input9faultStatus\")\n    return msg;\n}\nelse\n{\n    flow.set('Input9_Stat', flow.get(\"Input9restoredStatus\"))\n    msg.payload= flow.get(\"Input9restoredStatus\")\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":700,"wires":[[]]},{"id":"93e2e62c.620758","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":1720,"wires":[["ca314ddd.2e34a"]]},{"id":"f00533c8.ed414","type":"function","z":"8f47e680.97bb18","name":"","func":"var Status = msg.payload\nvar timestamp= new Date();\nvar time1 = timestamp.getTime()\nvar time =new Date(time1).toLocaleString() \nvar MobilNo = flow.get('MobileNo')\nvar NoOfRecip = flow.get('NoOfRecip')\nmsg={}\nmsg.payload={}\nmsg.topic=\"Substation Alert\"\nmsg.payload=flow.get('Input2')+\" alert \\nStatus:\"+Status+\"\\nTime:\"+time;\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\",\"zhb@godrej.com\",\"ssp@godrej.com\",\"kazim@godrej.com\",\"skdu@godrej.com\"];\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\"];\nvar email=flow.get('EmailID')\nvar Recip=email.length;\nnode.warn(Recip)\nmsg.to=email[0]\nfor(i=1;i<Recip;i++)\n{\n    msg.to=msg.to+\",\"+email[i];\n \n}\nmsg1={};\nmsg1.payload={};\nmsg1.payload = {\n    \t\t\t\t\t\ttime      :   time,\n    \t\t\t\t\t\tMobilNo   :   MobilNo,\n    \t\t\t\t\t\tNoOfRecip :   NoOfRecip,\n    \t\t\t\t\t\tAlertType :  flow.get('Input2')+\" alert , Status: \"+Status+\" at Time:\"+time\n    \t\t\t\t\t\t//AlertType :   \"Time \"+time+\" ,LVD Abnormal Temperature\"\n    \t\t\t };\n    \t\t\t \nmsg2={};\nmsg2.payload={};\nmsg2.payload=msg\n    \t\t\t \nnode.send([msg2 , msg1]);\n","outputs":2,"noerr":0,"x":1020,"y":1700,"wires":[["c315f663.a8ea48"],["93e2e62c.620758"]]},{"id":"de491f7b.7fad8","type":"rbe","z":"8f47e680.97bb18","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":850,"y":1700,"wires":[["f00533c8.ed414"]]},{"id":"7c0568a5.16a098","type":"function","z":"8f47e680.97bb18","name":"","func":"if(flow.get(\"Input\" + flow.get('id') + \"Pin\") == 1)\n{\nif((typeof(flow.get('Input2')))===\"string\")\n{\nmsg.payload=flow.get('Input2_Stat')\nreturn msg;\n}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1700,"wires":[["2333723a.a08d8e"]]},{"id":"a8495a14.62b088","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":1860,"wires":[["ca314ddd.2e34a"]]},{"id":"45b03324.b326fc","type":"function","z":"8f47e680.97bb18","name":"","func":"var Status = msg.payload\nvar timestamp= new Date();\nvar time1 = timestamp.getTime()\nvar time =new Date(time1).toLocaleString() \nvar MobilNo = flow.get('MobileNo')\nvar NoOfRecip = flow.get('NoOfRecip')\nmsg={}\nmsg.payload={}\nmsg.topic=\"Substation Alert\"\nmsg.payload=flow.get('Input3')+\" alert \\nStatus:\"+Status+\"\\nTime:\"+time;\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\",\"zhb@godrej.com\",\"ssp@godrej.com\",\"kazim@godrej.com\",\"skdu@godrej.com\"];\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\"];\nvar email=flow.get('EmailID')\nvar Recip=email.length;\nnode.warn(Recip)\nmsg.to=email[0]\nfor(i=1;i<Recip;i++)\n{\n    msg.to=msg.to+\",\"+email[i];\n \n}\nmsg1={};\nmsg1.payload={};\nmsg1.payload = {\n    \t\t\t\t\t\ttime      :   time,\n    \t\t\t\t\t\tMobilNo   :   MobilNo,\n    \t\t\t\t\t\tNoOfRecip :   NoOfRecip,\n    \t\t\t\t\t\tAlertType :  flow.get('Input3')+\" alert , Status: \"+Status+\" at Time:\"+time\n    \t\t\t\t\t\t//AlertType :   \"Time \"+time+\" ,LVD Abnormal Temperature\"\n    \t\t\t };\n    \t\t\t \nmsg2={};\nmsg2.payload={};\nmsg2.payload=msg\n    \t\t\t \nnode.send([msg2 , msg1]);\n","outputs":2,"noerr":0,"x":1020,"y":1840,"wires":[["93bf8512.d93eb8"],["a8495a14.62b088"]]},{"id":"c6333857.ce1bd8","type":"rbe","z":"8f47e680.97bb18","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":850,"y":1840,"wires":[["45b03324.b326fc"]]},{"id":"c517808d.647c9","type":"function","z":"8f47e680.97bb18","name":"","func":"if(flow.get(\"Input\" + flow.get('id') + \"Pin\") == 1)\n{\nif((typeof(flow.get('Input3')))===\"string\")\n{\nmsg.payload=flow.get('Input3_Stat')\nreturn msg;\n}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1840,"wires":[["6ce7ada0.22ebd4"]]},{"id":"41c03a86.8747b4","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2000,"wires":[["ca314ddd.2e34a"]]},{"id":"82292a0e.7b7bc8","type":"function","z":"8f47e680.97bb18","name":"","func":"var Status = msg.payload\nvar timestamp= new Date();\nvar time1 = timestamp.getTime()\nvar time =new Date(time1).toLocaleString() \nvar MobilNo = flow.get('MobileNo')\nvar NoOfRecip = flow.get('NoOfRecip')\nmsg={}\nmsg.payload={}\nmsg.topic=\"Substation Alert\"\nmsg.payload=flow.get('Input4')+\" alert \\nStatus:\"+Status+\"\\nTime:\"+time;\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\",\"zhb@godrej.com\",\"ssp@godrej.com\",\"kazim@godrej.com\",\"skdu@godrej.com\"];\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\"];\nvar email=flow.get('EmailID')\nvar Recip=email.length;\nnode.warn(Recip)\nmsg.to=email[0]\nfor(i=1;i<Recip;i++)\n{\n    msg.to=msg.to+\",\"+email[i];\n \n}\nmsg1={};\nmsg1.payload={};\nmsg1.payload = {\n    \t\t\t\t\t\ttime      :   time,\n    \t\t\t\t\t\tMobilNo   :   MobilNo,\n    \t\t\t\t\t\tNoOfRecip :   NoOfRecip,\n    \t\t\t\t\t\tAlertType :  flow.get('Input4')+\" alert , Status: \"+Status+\" at Time:\"+time\n    \t\t\t\t\t\t//AlertType :   \"Time \"+time+\" ,LVD Abnormal Temperature\"\n    \t\t\t };\n    \t\t\t \nmsg2={};\nmsg2.payload={};\nmsg2.payload=msg\n    \t\t\t \nnode.send([msg2 , msg1]);\n","outputs":2,"noerr":0,"x":1020,"y":1980,"wires":[["1998d493.4b864b"],["41c03a86.8747b4"]]},{"id":"8c83129f.48447","type":"rbe","z":"8f47e680.97bb18","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":850,"y":1980,"wires":[["82292a0e.7b7bc8"]]},{"id":"a927154f.712e38","type":"function","z":"8f47e680.97bb18","name":"","func":"if(flow.get(\"Input\" + flow.get('id') + \"Pin\") == 1)\n{\nif((typeof(flow.get('Input4')))===\"string\")\n{\nmsg.payload=flow.get('Input4_Stat')\nreturn msg;\n}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1980,"wires":[["fdbd1164.d6155"]]},{"id":"6044748c.607ecc","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2140,"wires":[["ca314ddd.2e34a"]]},{"id":"1a7c9ba7.24c0f4","type":"function","z":"8f47e680.97bb18","name":"","func":"var Status = msg.payload\nvar timestamp= new Date();\nvar time1 = timestamp.getTime()\nvar time =new Date(time1).toLocaleString() \nvar MobilNo = flow.get('MobileNo')\nvar NoOfRecip = flow.get('NoOfRecip')\nmsg={}\nmsg.payload={}\nmsg.topic=\"Substation Alert\"\nmsg.payload=flow.get('Input5')+\" alert \\nStatus:\"+Status+\"\\nTime:\"+time;\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\",\"zhb@godrej.com\",\"ssp@godrej.com\",\"kazim@godrej.com\",\"skdu@godrej.com\"];\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\"];\nvar email=flow.get('EmailID')\nvar Recip=email.length;\nnode.warn(Recip)\nmsg.to=email[0]\nfor(i=1;i<Recip;i++)\n{\n    msg.to=msg.to+\",\"+email[i];\n \n}\nmsg1={};\nmsg1.payload={};\nmsg1.payload = {\n    \t\t\t\t\t\ttime      :   time,\n    \t\t\t\t\t\tMobilNo   :   MobilNo,\n    \t\t\t\t\t\tNoOfRecip :   NoOfRecip,\n    \t\t\t\t\t\tAlertType :  flow.get('Input5')+\" alert , Status: \"+Status+\" at Time:\"+time\n    \t\t\t\t\t\t//AlertType :   \"Time \"+time+\" ,LVD Abnormal Temperature\"\n    \t\t\t };\n    \t\t\t \nmsg2={};\nmsg2.payload={};\nmsg2.payload=msg\n    \t\t\t \nnode.send([msg2 , msg1]);","outputs":2,"noerr":0,"x":1020,"y":2120,"wires":[["6f4b5bcb.695354"],["6044748c.607ecc"]]},{"id":"8e7a33e8.f7498","type":"rbe","z":"8f47e680.97bb18","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":850,"y":2120,"wires":[["1a7c9ba7.24c0f4"]]},{"id":"dd718093.11547","type":"function","z":"8f47e680.97bb18","name":"","func":"if(flow.get(\"Input\" + flow.get('id') + \"Pin\") == 1)\n{\nif((typeof(flow.get('Input5')))===\"string\")\n{\nmsg.payload=flow.get('Input5_Stat')\nreturn msg;\n}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2120,"wires":[["e0004ce2.d570c"]]},{"id":"b083dbc7.5ffe38","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2280,"wires":[["ca314ddd.2e34a"]]},{"id":"f551d531.521f88","type":"function","z":"8f47e680.97bb18","name":"","func":"var Status = msg.payload\nvar timestamp= new Date();\nvar time1 = timestamp.getTime()\nvar time =new Date(time1).toLocaleString() \nvar MobilNo = flow.get('MobileNo')\nvar NoOfRecip = flow.get('NoOfRecip')\nmsg={}\nmsg.payload={}\nmsg.topic=\"Substation Alert\"\nmsg.payload=flow.get('Input6')+\" alert \\nStatus:\"+Status+\"\\nTime:\"+time;\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\",\"zhb@godrej.com\",\"ssp@godrej.com\",\"kazim@godrej.com\",\"skdu@godrej.com\"];\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\"];\nvar email=flow.get('EmailID')\nvar Recip=email.length;\nnode.warn(Recip)\nmsg.to=email[0]\nfor(i=1;i<Recip;i++)\n{\n    msg.to=msg.to+\",\"+email[i];\n \n}\nmsg1={};\nmsg1.payload={};\nmsg1.payload = {\n    \t\t\t\t\t\ttime      :   time,\n    \t\t\t\t\t\tMobilNo   :   MobilNo,\n    \t\t\t\t\t\tNoOfRecip :   NoOfRecip,\n    \t\t\t\t\t\tAlertType :  flow.get('Input6')+\" alert , Status: \"+Status+\" at Time:\"+time\n    \t\t\t\t\t\t//AlertType :   \"Time \"+time+\" ,LVD Abnormal Temperature\"\n    \t\t\t };\n    \t\t\t \nmsg2={};\nmsg2.payload={};\nmsg2.payload=msg\n    \t\t\t \nnode.send([msg2 , msg1]);\n","outputs":2,"noerr":0,"x":1020,"y":2260,"wires":[["ef419533.350098"],["b083dbc7.5ffe38"]]},{"id":"9a5ca7bf.82ba88","type":"rbe","z":"8f47e680.97bb18","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":850,"y":2260,"wires":[["f551d531.521f88"]]},{"id":"d863a96f.0574d8","type":"function","z":"8f47e680.97bb18","name":"","func":"if(flow.get(\"Input\" + flow.get('id') + \"Pin\") == 1)\n{\nif((typeof(flow.get('Input6')))===\"string\")\n{\nmsg.payload=flow.get('Input6_Stat')\nreturn msg;\n}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2260,"wires":[["a6029377.d97d9"]]},{"id":"cfd3431c.09068","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2420,"wires":[["ca314ddd.2e34a"]]},{"id":"68fcaeff.2fa21","type":"function","z":"8f47e680.97bb18","name":"","func":"var Status = msg.payload\nvar timestamp= new Date();\nvar time1 = timestamp.getTime()\nvar time =new Date(time1).toLocaleString() \nvar MobilNo = flow.get('MobileNo')\nvar NoOfRecip = flow.get('NoOfRecip')\nmsg={}\nmsg.payload={}\nmsg.topic=\"Substation Alert\"\nmsg.payload=flow.get('Input7')+\" alert \\nStatus:\"+Status+\"\\nTime:\"+time;\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\",\"zhb@godrej.com\",\"ssp@godrej.com\",\"kazim@godrej.com\",\"skdu@godrej.com\"];\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\"];\nvar email=flow.get('EmailID')\nvar Recip=email.length;\nnode.warn(Recip)\nmsg.to=email[0]\nfor(i=1;i<Recip;i++)\n{\n    msg.to=msg.to+\",\"+email[i];\n \n}\nmsg1={};\nmsg1.payload={};\nmsg1.payload = {\n    \t\t\t\t\t\ttime      :   time,\n    \t\t\t\t\t\tMobilNo   :   MobilNo,\n    \t\t\t\t\t\tNoOfRecip :   NoOfRecip,\n    \t\t\t\t\t\tAlertType :  flow.get('Input7')+\" alert , Status: \"+Status+\" at Time:\"+time\n    \t\t\t\t\t\t//AlertType :   \"Time \"+time+\" ,LVD Abnormal Temperature\"\n    \t\t\t };\n    \t\t\t \nmsg2={};\nmsg2.payload={};\nmsg2.payload=msg\n    \t\t\t \nnode.send([msg2 , msg1]);\n","outputs":2,"noerr":0,"x":1020,"y":2400,"wires":[["7ea063fd.d73a0c"],["cfd3431c.09068"]]},{"id":"a95a521d.427e9","type":"rbe","z":"8f47e680.97bb18","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":850,"y":2400,"wires":[["68fcaeff.2fa21"]]},{"id":"a8f3397.48cfdc8","type":"function","z":"8f47e680.97bb18","name":"","func":"if(flow.get(\"Input\" + flow.get('id') + \"Pin\") == 1)\n{\nif((typeof(flow.get('Input7')))===\"string\")\n{\nmsg.payload=flow.get('Input7_Stat')\nreturn msg;\n}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2400,"wires":[["c7483902.ce4338"]]},{"id":"75658dbd.128034","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2560,"wires":[["ca314ddd.2e34a"]]},{"id":"e338d340.9e221","type":"function","z":"8f47e680.97bb18","name":"","func":"var Status = msg.payload\nvar timestamp= new Date();\nvar time1 = timestamp.getTime()\nvar time =new Date(time1).toLocaleString() \nvar MobilNo = flow.get('MobileNo')\nvar NoOfRecip = flow.get('NoOfRecip')\nmsg={}\nmsg.payload={}\nmsg.topic=\"Substation Alert\"\nmsg.payload=flow.get('Input8')+\" alert \\nStatus:\"+Status+\"\\nTime:\"+time;\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\",\"zhb@godrej.com\",\"ssp@godrej.com\",\"kazim@godrej.com\",\"skdu@godrej.com\"];\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\"];\nvar email=flow.get('EmailID')\nvar Recip=email.length;\nnode.warn(Recip)\nmsg.to=email[0]\nfor(i=1;i<Recip;i++)\n{\n    msg.to=msg.to+\",\"+email[i];\n \n}\nmsg1={};\nmsg1.payload={};\nmsg1.payload = {\n    \t\t\t\t\t\ttime      :   time,\n    \t\t\t\t\t\tMobilNo   :   MobilNo,\n    \t\t\t\t\t\tNoOfRecip :   NoOfRecip,\n    \t\t\t\t\t\tAlertType :  flow.get('Input8')+\" alert , Status: \"+Status+\" at Time:\"+time\n    \t\t\t\t\t\t//AlertType :   \"Time \"+time+\" ,LVD Abnormal Temperature\"\n    \t\t\t };\n    \t\t\t \nmsg2={};\nmsg2.payload={};\nmsg2.payload=msg\n    \t\t\t \nnode.send([msg2 , msg1]);\n","outputs":2,"noerr":0,"x":1020,"y":2540,"wires":[["8fb2363d.175df8"],["75658dbd.128034"]]},{"id":"d565aa86.9c1928","type":"rbe","z":"8f47e680.97bb18","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":850,"y":2540,"wires":[["e338d340.9e221"]]},{"id":"5e74f2d0.f4ab1c","type":"function","z":"8f47e680.97bb18","name":"","func":"if(flow.get(\"Input\" + flow.get('id') + \"Pin\") == 1)\n{\nif((typeof(flow.get('Input8')))===\"string\")\n{\nmsg.payload=flow.get('Input8_Stat')\nreturn msg;\n}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2540,"wires":[["7b7f6034.f0764"]]},{"id":"d4001ebe.4e06c","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2700,"wires":[["ca314ddd.2e34a"]]},{"id":"489a2186.9477a","type":"function","z":"8f47e680.97bb18","name":"","func":"var Status = msg.payload\nvar timestamp= new Date();\nvar time1 = timestamp.getTime()\nvar time =new Date(time1).toLocaleString() \nvar MobilNo = flow.get('MobileNo')\nvar NoOfRecip = flow.get('NoOfRecip')\nmsg={}\nmsg.payload={}\nmsg.topic=\"Substation Alert\"\nmsg.payload=flow.get('Input9')+\" alert \\nStatus:\"+Status+\"\\nTime:\"+time;\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\",\"zhb@godrej.com\",\"ssp@godrej.com\",\"kazim@godrej.com\",\"skdu@godrej.com\"];\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\"];\nvar email=flow.get('EmailID')\nvar Recip=email.length;\nnode.warn(Recip)\nmsg.to=email[0]\nfor(i=1;i<Recip;i++)\n{\n    msg.to=msg.to+\",\"+email[i];\n \n}\nmsg1={};\nmsg1.payload={};\nmsg1.payload = {\n    \t\t\t\t\t\ttime      :   time,\n    \t\t\t\t\t\tMobilNo   :   MobilNo,\n    \t\t\t\t\t\tNoOfRecip :   NoOfRecip,\n    \t\t\t\t\t\tAlertType :  flow.get('Input9')+\" alert , Status: \"+Status+\" at Time:\"+time\n    \t\t\t\t\t\t//AlertType :   \"Time \"+time+\" ,LVD Abnormal Temperature\"\n    \t\t\t };\n    \t\t\t \nmsg2={};\nmsg2.payload={};\nmsg2.payload=msg\n    \t\t\t \nnode.send([msg2 , msg1]);\n","outputs":2,"noerr":0,"x":1020,"y":2680,"wires":[["d58d9449.69e4a8"],["d4001ebe.4e06c"]]},{"id":"63672800.974608","type":"rbe","z":"8f47e680.97bb18","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":850,"y":2680,"wires":[["489a2186.9477a"]]},{"id":"2b3f8e02.59fba2","type":"function","z":"8f47e680.97bb18","name":"","func":"if(flow.get(\"Input\" + flow.get('id') + \"Pin\") == 1)\n{\nif((typeof(flow.get('Input9')))===\"string\")\n{\nmsg.payload=flow.get('Input9_Stat')\nreturn msg;\n}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2680,"wires":[["e7b8d8b7.380628"]]},{"id":"d99c0123.af7df","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":1540,"wires":[[]]},{"id":"c315f663.a8ea48","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":1680,"wires":[[]]},{"id":"93bf8512.d93eb8","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":1820,"wires":[[]]},{"id":"1998d493.4b864b","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":1960,"wires":[[]]},{"id":"6f4b5bcb.695354","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2100,"wires":[[]]},{"id":"ef419533.350098","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2240,"wires":[[]]},{"id":"7ea063fd.d73a0c","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2380,"wires":[[]]},{"id":"8fb2363d.175df8","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2520,"wires":[[]]},{"id":"d58d9449.69e4a8","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2660,"wires":[[]]},{"id":"c96c1b26.ddbcd8","type":"inject","z":"8f47e680.97bb18","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1280,"wires":[["35a56453.54258c"]]},{"id":"35a56453.54258c","type":"function","z":"8f47e680.97bb18","name":"","func":"msg.payload =  new Date().toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1280,"wires":[["cec5be1.3dc994"]]},{"id":"cec5be1.3dc994","type":"ui_text","z":"8f47e680.97bb18","group":"5994c5fa.c6560c","order":1,"width":6,"height":1,"name":"","label":"Date:","format":"{{msg.payload}}","layout":"row-left","x":450,"y":1280,"wires":[]},{"id":"61c6d2b1.be1c6c","type":"inject","z":"8f47e680.97bb18","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":150,"y":1160,"wires":[["8b9ab9cd.d47168"]]},{"id":"8b9ab9cd.d47168","type":"file in","z":"8f47e680.97bb18","name":"bypass.txt","filename":"/home/pi/Desktop/bypass.txt","format":"utf8","chunk":false,"sendError":false,"x":320,"y":1160,"wires":[["701f3491.d0a49c"]]},{"id":"86b8a2da.42c0b","type":"function","z":"8f47e680.97bb18","name":"settings obj","func":"global.set(\"settings\",msg.payload);\n\nvar Dropdown=[\n\t        {\n\t            \"id\":\"1\",\n\t            \"name\":\"Input 1\",\n\t            \"code\":\"Input 1\"\n\t        },\n\t        {\n\t            \"id\":\"2\",\n\t            \"name\":\"Input 2\",\n\t            \"code\":\"Input 2\"\n\t        },\n\t        {\n\t            \"id\":\"3\",\n\t            \"name\":\"Input 3\",\n\t            \"code\":\"Input 3\"\n\t        },\n\t        {\n\t            \"id\":\"4\",\n\t            \"name\":\"Input 4\",\n\t            \"code\":\"Input 4\"\n\t        },\n\t        {\n\t            \"id\":\"5\",\n\t            \"name\":\"Input 5\",\n\t            \"code\":\"Input 5\"\n\t        },\n\t        {\n\t            \"id\":\"6\",\n\t            \"name\":\"Input 6\",\n\t            \"code\":\"Input 6\"\n\t        },\n\t        {\n\t            \"id\":\"7\",\n\t            \"name\":\"Input 7\",\n\t            \"code\":\"Input 7\"\n\t        },\n\t        {\n\t            \"id\":\"8\",\n\t            \"name\":\"Input 8\",\n\t            \"code\":\"Input 8\"\n\t        },\n\t        {\n\t            \"id\":\"9\",\n\t            \"name\":\"Input 9\",\n\t            \"code\":\"Input 9\"\n\t        },\n\t        {\n\t            \"id\":\"10\",\n\t            \"name\":\"No Bypass\",\n\t            \"code\":\"No Bypass\"\n\t        }];\nmsg.payload.Dropdown=Dropdown;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1160,"wires":[["2fa99a45.e76626"]]},{"id":"2fa99a45.e76626","type":"ui_template","z":"8f47e680.97bb18","group":"5994c5fa.c6560c","name":"Bypass table","order":6,"width":"0","height":"0","format":"<html>\n<body>\n<style>\n\n</style>\n\n    \n<form id=\"MobileNoForm\"  ng-submit=\"submitlist()\" align=\"justify\">\n<br>\n<div padding: 5px;  margin: 5px; >\n<div class = \"addrow\">\n<div class = \"column\">\n\n\n<table id=\"mytable\" class=\"table table-bordered\" align = \"center\">\n<thead>\n<tr>\n<th>Select bypass input</th>\n<th type='text' name ='id'>Input Number</th>\n</tr>\n</thead>\n<tbody align=\"center\">\n<tr ng-repeat=\"Details in recipients\">\n<td style = \"color: black;\">Bypass input</td>\n \n <td>\n     <select id=\"EmpDropdown\" ng-model=\"Details.id\" >\n                        <!-- when user selects option from dropdown, value attrubite in option tag will receive the varible value assigned to it. This value will be passed to \"ng-model=\"your_variable\"\" and can be accessed\n                        in java script . another way of accessing it is using DOM:document.getElementById(\"Your Select ID\").value syntax -->\n                        <option ng-repeat=\"Tasklist in Drop\" value=\"{{Tasklist.id}}\" required >{{Tasklist.name}}\n                        <!--ng-repeat repeas html tag for each object in the list/array assigned to it -->\n                        </option>\n                    </select>\n                    </td>\n</tr>                    \n</tbody>\n</table>\n</div>\n</div>\n</div>\n<input type=\"submit\" class=\"btn btn-primary\" value=\"Submit\" ng-style=\"{float: 'center', background: '#54e18a', color:'Black',padding: '4px 6px', border: 'none', cursor: 'allowed'}\"/>   \n\n</form>\n<script>\nvar dropdata\n\t (function(scope) {   \t\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n    \t\n      $(\"#my_\"+scope.$id).html(msg.payload);\n    scope.data = angular.copy(msg.payload.RecipDetails);\n   scope.Drop = angular.copy(msg.payload.Dropdown);\n     scope.recipients = angular.copy(scope.data);\n    dropdata = angular.copy(scope.Drop);\n    }\n\n  });\n\n\t scope.enabledEdit = [];\t\n//scope.data = [{ id:\"\"}];\n  \n//scope.recipients = angular.copy(scope.data);\n\nscope.submitlist = function(){\n    console.log(scope.Drop)\nvar msg={\"payload\":{\"RecipDetails\" :(scope.recipients),\"Dropdown\":(scope.Drop)}};\nscope.send(msg);\nwindow.confirm(\"Data Saved\");\nconsole.log(\"form submitted:\"+angular.toJson(scope.recipients));\n}\n})(scope);\n</script>            \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":810,"y":1160,"wires":[["56e22400.8fbd9c"]]},{"id":"56e22400.8fbd9c","type":"file","z":"8f47e680.97bb18","name":"bypass.txt","filename":"/home/pi/Desktop/bypass.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":980,"y":1160,"wires":[["aa81c2dd.0f8fb","923e8bd7.57df28"]]},{"id":"923e8bd7.57df28","type":"function","z":"8f47e680.97bb18","name":"SetVal","func":"var Value=msg.payload.RecipDetails\nvar length = Value.length\n//node.warn(length)\nfor(var i = 0;i<length;i++)\n{\n    flow.set('id', Value[i].id)\n}\n","outputs":1,"noerr":0,"x":1130,"y":1200,"wires":[["aa81c2dd.0f8fb"]]},{"id":"aa81c2dd.0f8fb","type":"debug","z":"8f47e680.97bb18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":1160,"wires":[]},{"id":"701f3491.d0a49c","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":470,"y":1160,"wires":[["86b8a2da.42c0b"]]},{"id":"6263d372.982cfc","type":"inject","z":"8f47e680.97bb18","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":760,"wires":[["4c590cbc.ff6be4"]]},{"id":"4c590cbc.ff6be4","type":"function","z":"8f47e680.97bb18","name":"","func":"flow.set(\"Input10Pin\", 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":760,"wires":[[]]},{"id":"d4de355c.463538","type":"debug","z":"8f47e680.97bb18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1470,"y":1540,"wires":[]},{"id":"a34f365b.1813e8","type":"inject","z":"8f47e680.97bb18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":790,"y":100,"wires":[["2ee7a6d2.b07d6a"]]},{"id":"2ee7a6d2.b07d6a","type":"function","z":"8f47e680.97bb18","name":"Flow variables","func":"flow.set(\"pin7Counter\", 0)\nflow.set(\"pin16Counter\", 0)\nflow.set(\"pin13Counter\", 0)\nflow.set(\"pin29Counter\", 0)\nflow.set(\"pin22Counter\", 0)\nflow.set(\"pin36Counter\", 0)\nflow.set(\"pin40Counter\", 0)\nflow.set(\"pin35Counter\", 0)\nflow.set(\"pin31Counter\", 0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":100,"wires":[[]]},{"id":"bc184c5e.0385f","type":"function","z":"8f47e680.97bb18","name":"pin 7 counter","func":"if(flow.get('Input1_Stat') == flow.get(\"Input1faultStatus\"))\n{\n    flow.set(\"pin7Counter\", flow.get(\"pin7Counter\") + 1)\n    node.warn(flow.get(\"pin7Counter\"))\n}\nelse\n{\n    flow.set(\"pin7Counter\", 0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":220,"wires":[[]]},{"id":"68ae4a06.30ba84","type":"function","z":"8f47e680.97bb18","name":"pin 16 counter","func":"//node.warn(flow.get('Input2_Stat'))\n\nif(flow.get('Input2_Stat') == flow.get(\"Input2faultStatus\"))\n{\n    flow.set(\"pin16Counter\", flow.get(\"pin16Counter\") + 1)\n    //node.warn(flow.get(\"pin16Counter\"))\n}\nelse\n{\n    flow.set(\"pin16Counter\", 0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":280,"wires":[[]]},{"id":"f845d859.ef22a8","type":"function","z":"8f47e680.97bb18","name":"pin 13 counter","func":"if(flow.get('Input3_Stat') == flow.get(\"Input3faultStatus\"))\n{\n    flow.set(\"pin13Counter\", flow.get(\"pin13Counter\") + 1)\n}\nelse\n{\n    flow.set(\"pin13Counter\", 0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":340,"wires":[[]]},{"id":"f92ee4d3.914e98","type":"function","z":"8f47e680.97bb18","name":"pin 29 counter","func":"if(flow.get('Input4_Stat') == flow.get(\"Input4faultStatus\"))\n{\n    flow.set(\"pin29Counter\", flow.get(\"pin29Counter\") + 1)\n}\nelse\n{\n    flow.set(\"pin29Counter\", 0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":400,"wires":[[]]},{"id":"39f06a71.fcbc76","type":"function","z":"8f47e680.97bb18","name":"pin 22 counter","func":"if(flow.get('Input5_Stat') == flow.get(\"Input5faultStatus\"))\n{\n    flow.set(\"pin22Counter\", flow.get(\"pin22Counter\") + 1)\n}\nelse\n{\n    flow.set(\"pin22Counter\", 0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":460,"wires":[[]]},{"id":"2aa03bd5.d309e4","type":"function","z":"8f47e680.97bb18","name":"pin 36 counter","func":"if(flow.get('Input6_Stat') == flow.get(\"Input6faultStatus\"))\n{\n    flow.set(\"pin36Counter\", flow.get(\"pin36Counter\") + 1)\n}\nelse\n{\n    flow.set(\"pin36Counter\", 0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":520,"wires":[[]]},{"id":"f7bb5dc9.de503","type":"function","z":"8f47e680.97bb18","name":"pin 40 counter","func":"if(flow.get('Input7_Stat') == flow.get(\"Input7faultStatus\"))\n{\n    flow.set(\"pin40Counter\", flow.get(\"pin40Counter\") + 1)\n}\nelse\n{\n    flow.set(\"pin40Counter\", 0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":580,"wires":[[]]},{"id":"93eb589e.4cb508","type":"function","z":"8f47e680.97bb18","name":"pin 35 counter","func":"if(flow.get('Input8_Stat') == flow.get(\"Input8faultStatus\"))\n{\n    flow.set(\"pin35Counter\", flow.get(\"pin35Counter\") + 1)\n}\nelse\n{\n    flow.set(\"pin35Counter\", 0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":640,"wires":[[]]},{"id":"a4039f81.034e1","type":"function","z":"8f47e680.97bb18","name":"pin 31 counter","func":"if(flow.get('Input9_Stat') == flow.get(\"Input9faultStatus\"))\n{\n    flow.set(\"pin31Counter\", flow.get(\"pin31Counter\") + 1)\n}\nelse\n{\n    flow.set(\"pin31Counter\", 0)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":700,"wires":[[]]},{"id":"deb067d2.d2c5b8","type":"comment","z":"8f47e680.97bb18","name":"Setting flow variables","info":"","x":800,"y":60,"wires":[]},{"id":"f7d4d51a.d64b68","type":"fs-ops-delete","z":"8f47e680.97bb18","name":"","path":"/home/pi/Desktop/","pathType":"str","filename":"smscsv.txt","filenameType":"str","x":1640,"y":1660,"wires":[["c3f3c21c.95fbc"]]},{"id":"3a0b8627.a4353a","type":"inject","z":"8f47e680.97bb18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1430,"y":1600,"wires":[["f7d4d51a.d64b68"]]},{"id":"c3f3c21c.95fbc","type":"debug","z":"8f47e680.97bb18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1820,"y":1640,"wires":[]},{"id":"801367f8.c2cf48","type":"inject","z":"8f47e680.97bb18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":790,"y":220,"wires":[["bc184c5e.0385f","68ae4a06.30ba84","f845d859.ef22a8","f92ee4d3.914e98","39f06a71.fcbc76","2aa03bd5.d309e4","f7bb5dc9.de503","93eb589e.4cb508","a4039f81.034e1"]]},{"id":"2333723a.a08d8e","type":"function","z":"8f47e680.97bb18","name":"Input 2 notification Delay","func":"if(flow.get('Input2_Stat') == flow.get(\"Input2faultStatus\"))\n{\n    if(flow.get(\"pin16Counter\") > flow.get(\"Input2notificationDelay\"))\n    {\n        return msg;\n    }\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":1700,"wires":[["de491f7b.7fad8"]]},{"id":"6ce7ada0.22ebd4","type":"function","z":"8f47e680.97bb18","name":"Input 3 notification Delay","func":"if(flow.get('Input3_Stat') == flow.get(\"Input3faultStatus\"))\n{\n    if(flow.get(\"pin13Counter\") > flow.get(\"Input3notificationDelay\"))\n    {\n        return msg;\n    }\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":1840,"wires":[["c6333857.ce1bd8"]]},{"id":"fdbd1164.d6155","type":"function","z":"8f47e680.97bb18","name":"Input 4 notification Delay","func":"if(flow.get('Input4_Stat') == flow.get(\"Input4faultStatus\"))\n{\n    if(flow.get(\"pin29Counter\") > flow.get(\"Input4notificationDelay\"))\n    {\n        return msg;\n    }\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":1980,"wires":[["8c83129f.48447"]]},{"id":"e0004ce2.d570c","type":"function","z":"8f47e680.97bb18","name":"Input 5 notification Delay","func":"if(flow.get('Input5_Stat') == flow.get(\"Input5faultStatus\"))\n{\n    if(flow.get(\"pin22Counter\") > flow.get(\"Input5notificationDelay\"))\n    {\n        return msg;\n    }\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":2120,"wires":[["8e7a33e8.f7498"]]},{"id":"a6029377.d97d9","type":"function","z":"8f47e680.97bb18","name":"Input 6 notification Delay","func":"if(flow.get('Input6_Stat') == flow.get(\"Input6faultStatus\"))\n{\n    if(flow.get(\"pin36Counter\") > flow.get(\"Input6notificationDelay\"))\n    {\n        return msg;\n    }\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":2260,"wires":[["9a5ca7bf.82ba88"]]},{"id":"c7483902.ce4338","type":"function","z":"8f47e680.97bb18","name":"Input 7 notification Delay","func":"if(flow.get('Input7_Stat') == flow.get(\"Input7faultStatus\"))\n{\n    if(flow.get(\"pin40Counter\") > flow.get(\"Input7notificationDelay\"))\n    {\n        return msg;\n    }\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":2400,"wires":[["a95a521d.427e9"]]},{"id":"7b7f6034.f0764","type":"function","z":"8f47e680.97bb18","name":"Input 8 notification Delay","func":"if(flow.get('Input8_Stat') == flow.get(\"Input8faultStatus\"))\n{\nif(flow.get(\"pin35Counter\") > flow.get(\"Input8notificationDelay\"))\n{\n    return msg;\n}\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":2540,"wires":[["d565aa86.9c1928"]]},{"id":"e7b8d8b7.380628","type":"function","z":"8f47e680.97bb18","name":"Input 9 notification Delay","func":"if(flow.get('Input9_Stat') == flow.get(\"Input9faultStatus\"))\n{\n    if(flow.get(\"pin31Counter\") > flow.get(\"Input9notificationDelay\"))\n    {\n        return msg;\n    }\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":2680,"wires":[["63672800.974608"]]},{"id":"fff53ec6.659af","type":"function","z":"8f47e680.97bb18","name":"Input 1 notification Delay","func":"if(flow.get('Input1_Stat') == flow.get(\"Input1faultStatus\"))\n{\n    if(flow.get(\"pin7Counter\") > flow.get(\"Input1notificationDelay\"))\n    {\n        return msg;\n    }\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":1560,"wires":[["5428ff09.f393d"]]},{"id":"3848038.8f502fc","type":"function","z":"8f47e680.97bb18","name":"","func":"if(flow.get(\"Input\" + flow.get('id') + \"Pin\") == 0)\n{\n    if((typeof(flow.get('Input' + flow.get('id'))))===\"string\")\n    {\n        msg.payload=flow.get('Input' + flow.get('id') + '_Stat')\n        return msg;\n    }\n}\nelse\n{\n    msg.payload = flow.get(\"Input\" + flow.get('id') + \"restoredStatus\");\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2820,"wires":[["8541c0f2.dabeb"]]},{"id":"8541c0f2.dabeb","type":"rbe","z":"8f47e680.97bb18","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":850,"y":2820,"wires":[["bca53075.03c2b"]]},{"id":"bca53075.03c2b","type":"function","z":"8f47e680.97bb18","name":"","func":"var Status = msg.payload\nvar timestamp= new Date();\nvar time1 = timestamp.getTime()\nvar time =new Date(time1).toLocaleString() \nvar MobilNo = flow.get('MobileNo')\nvar NoOfRecip = flow.get('NoOfRecip')\nmsg={}\nmsg.payload={}\nmsg.topic=\"Substation Alert\"\nmsg.payload=flow.get('Input' + flow.get('id'))+\" alert \\nStatus:\"+Status+\"\\nTime:\"+time;\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\",\"zhb@godrej.com\",\"ssp@godrej.com\",\"kazim@godrej.com\",\"skdu@godrej.com\"];\n//email=[\"joshik@godrej.com\",\"mdp@godrej.com\"];\nvar email=flow.get('EmailID')\nvar Recip=email.length;\nnode.warn(Recip)\nmsg.to=email[0]\nfor(i=1;i<Recip;i++)\n{\n    msg.to=msg.to+\",\"+email[i];\n \n}\nmsg1={};\nmsg1.payload={};\nmsg1.payload = {\n    \t\t\t\t\t\ttime      :   time,\n    \t\t\t\t\t\tMobilNo   :   MobilNo,\n    \t\t\t\t\t\tNoOfRecip :   NoOfRecip,\n    \t\t\t\t\t\tAlertType :  flow.get('Input' + flow.get('id')) +\" alert , Status: \"+Status+\" at Time:\"+time\n    \t\t\t\t\t\t//AlertType :   \"Time \"+time+\" ,LVD Abnormal Temperature\"\n    \t\t\t };\n    \t\t\t \nmsg2={};\nmsg2.payload={};\nmsg2.payload=msg\n    \t\t\t \nnode.send([msg2 , msg1]);\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1020,"y":2820,"wires":[["880d2f64.4b794"],["35388803.ebe238"]]},{"id":"880d2f64.4b794","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2800,"wires":[[]]},{"id":"35388803.ebe238","type":"json","z":"8f47e680.97bb18","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2840,"wires":[["ca314ddd.2e34a"]]},{"id":"a9be4871.094458","type":"serial in","z":"b54499f2.54e0b8","name":"","serial":"625f94d4.86ed5c","x":130,"y":320,"wires":[["38937049.9acbc","7020ff40.2e469"]]},{"id":"38937049.9acbc","type":"function","z":"b54499f2.54e0b8","name":"GSM_Module_Response","func":"var ready_from_GSM=msg.payload;\n\nif (ready_from_GSM.search(\"Ready\")===0)\n{\n    flow.set(\"Comm\",1);\n}\nelse if (ready_from_GSM.search(\"failed\")===0)\n{\n    flow.set(\"Comm\",0);\n}","outputs":1,"noerr":0,"x":370,"y":320,"wires":[[]]},{"id":"bddf985a.27f258","type":"fs-ops-access","z":"b54499f2.54e0b8","name":"File test","path":"","pathType":"str","filename":"/home/pi/Desktop/smsMaster.txt","filenameType":"str","read":true,"write":false,"throwerror":false,"x":300,"y":400,"wires":[["923257a7.7dfd78"],["bb0d81aa.f9266","fc65f8f2.563ed8"]]},{"id":"fc65f8f2.563ed8","type":"file","z":"b54499f2.54e0b8","name":"smsMaster.txt","filename":"/home/pi/Desktop/smsMaster.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":480,"y":500,"wires":[[]]},{"id":"923257a7.7dfd78","type":"file","z":"b54499f2.54e0b8","name":"smsMaster.txt","filename":"/home/pi/Desktop/smsMaster.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":640,"y":400,"wires":[[]]},{"id":"bb0d81aa.f9266","type":"delay","z":"b54499f2.54e0b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":440,"wires":[["923257a7.7dfd78"]]},{"id":"f207d3b6.7e1a4","type":"inject","z":"b54499f2.54e0b8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":620,"wires":[["f224ed76.6b12b"]]},{"id":"f224ed76.6b12b","type":"function","z":"b54499f2.54e0b8","name":"","func":"if(flow.get(\"Comm\") == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":340,"y":620,"wires":[["b5e7731.f437e9"]]},{"id":"6a5a92d5.88fddc","type":"function","z":"b54499f2.54e0b8","name":"","func":"if(msg.payload > 0)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":620,"wires":[["dd1f2992.945dc8"]]},{"id":"67f577ff.ae9378","type":"serial out","z":"b54499f2.54e0b8","name":"","serial":"625f94d4.86ed5c","x":1120,"y":620,"wires":[]},{"id":"1d7a1c22.8e8564","type":"debug","z":"b54499f2.54e0b8","name":"outMsg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":560,"wires":[]},{"id":"e09cc934.46a288","type":"function","z":"b54499f2.54e0b8","name":"","func":"flow.set(\"Comm\", 0)\nflow.set(\"smsCounter\", flow.get(\"smsCounter\") + 1)\nmsg.payload = flow.get(\"smsCounter\")\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":680,"wires":[["57281d11.e3b744"]]},{"id":"690ee52a.678efc","type":"ui_button","z":"b54499f2.54e0b8","name":"","group":"d3da6149.fcc64","order":1,"width":4,"height":1,"passthru":false,"label":"Display pending sms lines","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":170,"y":780,"wires":[["6de7ce6.334603"]]},{"id":"c2e05697.219c58","type":"ui_template","z":"b54499f2.54e0b8","group":"d3da6149.fcc64","name":"","order":6,"width":24,"height":10,"format":"<html>\n    <body>\n        <style>\n            .display\n            {\n                background-color: white;\n            }\n        </style>\n        <p class = \"display\">\n            {{msg.payload}}\n        </p>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1040,"y":780,"wires":[[]]},{"id":"b6a3023a.e5258","type":"ui_button","z":"b54499f2.54e0b8","name":"","group":"d3da6149.fcc64","order":5,"width":4,"height":1,"passthru":false,"label":"Delete Last Line","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":140,"y":860,"wires":[["1d53675b.3f3009"]]},{"id":"6de7ce6.334603","type":"function","z":"b54499f2.54e0b8","name":"","func":"if(msg.payload == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":400,"y":780,"wires":[["d7ed4b27.7c2308"]]},{"id":"1d53675b.3f3009","type":"function","z":"b54499f2.54e0b8","name":"","func":"if(msg.payload == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":400,"y":860,"wires":[["d4fd4d34.bbd67"]]},{"id":"799db6c4.a7a3b8","type":"ui_toast","z":"b54499f2.54e0b8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":860,"wires":[[]]},{"id":"96720de5.e369f","type":"debug","z":"b54499f2.54e0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":460,"wires":[]},{"id":"7020ff40.2e469","type":"debug","z":"b54499f2.54e0b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":260,"wires":[]},{"id":"f0c5f82d.3e2d88","type":"inject","z":"b54499f2.54e0b8","name":"","repeat":"","crontab":"55 11 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["2f70e55f.fbd31a"]]},{"id":"2f70e55f.fbd31a","type":"function","z":"b54499f2.54e0b8","name":"csv data","func":"flow.set(\"smsCounter\", 0)\nvar date = new Date()\n\nmsg.payload = flow.get(\"smsCounter\") + \",\" + date;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["86c360e5.247a8","22407108.ad6e4e"]]},{"id":"57281d11.e3b744","type":"file","z":"b54499f2.54e0b8","name":"smsCounter.txt","filename":"/home/pi/Desktop/smsCounter.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1540,"y":680,"wires":[[]]},{"id":"bd0ad78a.e71d18","type":"inject","z":"b54499f2.54e0b8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":1290,"y":80,"wires":[["777103d4.20b30c"]]},{"id":"777103d4.20b30c","type":"file in","z":"b54499f2.54e0b8","name":"smsCounter.txt","filename":"/home/pi/Desktop/smsCounter.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1480,"y":80,"wires":[["d6d6f551.f02e98"]]},{"id":"d6d6f551.f02e98","type":"function","z":"b54499f2.54e0b8","name":"","func":"flow.set(\"smsCounter\", Number(msg.payload))\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":80,"wires":[[]]},{"id":"22407108.ad6e4e","type":"function","z":"b54499f2.54e0b8","name":"flow varialbles","func":"flow.set(\"smsCounter\", 0)\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[[]]},{"id":"86c360e5.247a8","type":"fs-ops-access","z":"b54499f2.54e0b8","name":"smsCounterBackup.csv","path":"","pathType":"str","filename":"/home/pi/Desktop/smsCounterBackup.csv","filenameType":"str","read":true,"write":false,"throwerror":false,"x":530,"y":80,"wires":[["5029b235.9bb87c"],["b9b9d24a.6497f","cc9f06d0.6beb98"]]},{"id":"cc9f06d0.6beb98","type":"file","z":"b54499f2.54e0b8","name":"smsCounterBackup.csv","filename":"/home/pi/Desktop/smsCounterBackup.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":790,"y":180,"wires":[[]]},{"id":"5029b235.9bb87c","type":"file","z":"b54499f2.54e0b8","name":"smsCounterBackup.csv","filename":"/home/pi/Desktop/smsCounterBackup.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":930,"y":80,"wires":[[]]},{"id":"b9b9d24a.6497f","type":"delay","z":"b54499f2.54e0b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":120,"wires":[["5029b235.9bb87c"]]},{"id":"6d2a510a.0760d","type":"ui_text","z":"b54499f2.54e0b8","group":"d3da6149.fcc64","order":3,"width":8,"height":1,"name":"","label":"No. of SMS sent:","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":140,"wires":[]},{"id":"ce598a35.c66cb8","type":"inject","z":"b54499f2.54e0b8","name":"","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1290,"y":140,"wires":[["d7cf70e9.a2254"]]},{"id":"d7cf70e9.a2254","type":"function","z":"b54499f2.54e0b8","name":"smsCounter","func":"msg.payload = flow.get(\"smsCounter\")\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":140,"wires":[["6d2a510a.0760d"]]},{"id":"f74909dd.c8b6e8","type":"link in","z":"b54499f2.54e0b8","name":"","links":["2c35aace.073156"],"x":75,"y":400,"wires":[["bddf985a.27f258","96720de5.e369f"]]},{"id":"8c581f5a.3094","type":"debug","z":"b54499f2.54e0b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":720,"wires":[]},{"id":"1f79eac9.b209d5","type":"function","z":"b54499f2.54e0b8","name":"","func":"var len = msg.payload.length\nvar arr = msg.payload\nvar str = \"\"\n\nfor(i = 0; i<len ; i++)\n{\n    str = str + arr[i] + \"\\n\"\n}\n\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":780,"wires":[["c2e05697.219c58"]]},{"id":"b5e7731.f437e9","type":"python3-function","z":"b54499f2.54e0b8","name":"no_of_lines.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\n\nwith open(filename, 'r') as f:\n    lines = f.read().splitlines()\n    no_of_lines = len(lines)\n    msg['payload'] = no_of_lines\n    node.send(msg)\n","outputs":1,"x":520,"y":620,"wires":[["6a5a92d5.88fddc"]]},{"id":"dd1f2992.945dc8","type":"python3-function","z":"b54499f2.54e0b8","name":"first_line.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\n\nwith open(filename, 'r') as f:\n    lines = f.read().splitlines()\n    first_line = lines[0]\n    msg['payload'] = first_line\n    node.send(msg)","outputs":1,"x":910,"y":620,"wires":[["1d7a1c22.8e8564","67f577ff.ae9378","9958489e.99a208"]]},{"id":"9958489e.99a208","type":"python3-function","z":"b54499f2.54e0b8","name":"deleteFirstLine.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\n\nwith open(filename, 'r') as f:\n    lines = f.readlines()\n\ndel lines[0]\n\nwith open(filename, 'w+') as f:\n    for i in range(len(lines)):\n        f.write(lines[i])\n\nmsg['payload'] = 'nextStep'\nnode.send(msg)","outputs":1,"x":1130,"y":680,"wires":[["e09cc934.46a288"]]},{"id":"d7ed4b27.7c2308","type":"python3-function","z":"b54499f2.54e0b8","name":"displayLines.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\nlineArray = []\n\nwith open(filename, 'r') as f:\n    lines = f.readlines()\n\nif(lines == []):\n    msg['payload'] = []\n    node.send(msg)\n\nelse:\n    for i in range(len(lines)):\n        lineArray.append(lines[i])\n        msg['payload'] = lineArray\n        node.send(msg)","outputs":1,"x":600,"y":780,"wires":[["8c581f5a.3094","1f79eac9.b209d5"]]},{"id":"d4fd4d34.bbd67","type":"python3-function","z":"b54499f2.54e0b8","name":"deleteLastLine.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\n\ntry:\n    with open(filename, 'r') as f:\n        lines = f.readlines()\n\n    del lines[-1]\n\n    with open(filename, 'w+') as f:\n        for i in range(len(lines)):\n            f.write(lines[i])\n    \n    msg['payload'] = \"Last line deleted\"\n    node.send(msg)\n\nexcept:\n    msg['payload'] = \"No line to delete, file is empty\"\n    node.send(msg)","outputs":1,"x":610,"y":860,"wires":[["799db6c4.a7a3b8","3e12647a.c6b53c"]]},{"id":"3e12647a.c6b53c","type":"python3-function","z":"b54499f2.54e0b8","name":"displayLines.py","func":"filename = '/home/pi/Desktop/smsMaster.txt'\n\nwith open(filename, 'r') as f:\n    lines = f.readlines()\n\nfor i in range(len(lines)):\n    msg['payload'] = str(lines[i])\n    node.send(msg)","outputs":1,"x":840,"y":920,"wires":[["c2e05697.219c58"]]}]