vibration.json
[{"id":"bb702e87.87562","type":"comment","z":"efd4a8c3.758968","name":"Asset: X-axis (172.24.189.173)","info":"","x":210,"y":80,"wires":[]},{"id":"a34f07a7.9fa718","type":"tcp in","z":"efd4a8c3.758968","name":"","server":"server","host":"","port":"6900","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":140,"y":120,"wires":[["a420f8a0.c9a098"]]},{"id":"a420f8a0.c9a098","type":"json","z":"efd4a8c3.758968","name":"","property":"payload","action":"","pretty":false,"x":300,"y":120,"wires":[["be68fa21.b48228"]]},{"id":"be68fa21.b48228","type":"function","z":"efd4a8c3.758968","name":"","func":"var averageXaxis = msg.payload.averageXaxis;\nvar averageYaxis = msg.payload.averageYaxis;\nvar averageZaxis = msg.payload.averageZaxis;\nvar XaxisSD = msg.payload.XaxisSD;\nvar YaxisSD = msg.payload.YaxisSD;\nvar ZaxisSD = msg.payload.ZaxisSD;\n\nmsg.payload={\"averageXaxis\":averageXaxis,\"averageYaxis\":averageYaxis,\"averageZaxis\":averageZaxis,\"XaxisSD\":XaxisSD,\"YaxisSD\":YaxisSD,\"ZaxisSD\":ZaxisSD,\"Asset\":\"X Axis\"};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":120,"wires":[["9864d545.88a1c8","5baa5259.b80a9c","a6acf4a6.0d8238","a0aa9ebb.b7e33","71b966f0.0c6648","d7d0cfd3.f0c48"]]},{"id":"ba5f7ed3.f4b7f","type":"ui_template","z":"efd4a8c3.758968","group":"9c63c6e9.05f2b8","name":"X-axis UI","order":1,"width":"12","height":"1","format":"<!DOCTYPE html>\n<html>\n<body>\n    <style>\n    body\n    {\n        background-image : url(\"/background10.jpg\");\n    }\n    </style>   \n<md-button ng-style=\"{background: '#54e1d3', \n                      color:'black',\n                      padding: '10px',\n                      cursor: 'allowed'}\"\n\nng-click href=\"http://172.24.189.173:1880/ui\">\n<i class=\"fa fa-cogs\"></i>\nX Axis Setting\n</md-button>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":60,"wires":[[]]},{"id":"9864d545.88a1c8","type":"ui_text","z":"efd4a8c3.758968","group":"9c63c6e9.05f2b8","order":4,"width":"6","height":"2","name":"","label":"X axis Average","format":"{{msg.payload.averageXaxis}}","layout":"col-center","x":640,"y":120,"wires":[]},{"id":"5baa5259.b80a9c","type":"ui_text","z":"efd4a8c3.758968","group":"9c63c6e9.05f2b8","order":5,"width":"6","height":"2","name":"","label":"Y axis Average","format":"{{msg.payload.averageYaxis}}","layout":"col-center","x":640,"y":180,"wires":[]},{"id":"a6acf4a6.0d8238","type":"ui_text","z":"efd4a8c3.758968","group":"9c63c6e9.05f2b8","order":6,"width":"6","height":"2","name":"","label":"Z axis Average","format":"{{msg.payload.averageZaxis}}","layout":"col-center","x":640,"y":240,"wires":[]},{"id":"a0aa9ebb.b7e33","type":"ui_text","z":"efd4a8c3.758968","group":"9c63c6e9.05f2b8","order":7,"width":"6","height":"2","name":"","label":"X axis SD","format":"{{msg.payload.XaxisSD}}","layout":"col-center","x":620,"y":300,"wires":[]},{"id":"71b966f0.0c6648","type":"ui_text","z":"efd4a8c3.758968","group":"9c63c6e9.05f2b8","order":8,"width":"6","height":"2","name":"","label":"Y axis SD","format":"{{msg.payload.YaxisSD}}","layout":"col-center","x":620,"y":360,"wires":[]},{"id":"d7d0cfd3.f0c48","type":"ui_text","z":"efd4a8c3.758968","group":"9c63c6e9.05f2b8","order":9,"width":"6","height":"2","name":"","label":"Z axis SD","format":"{{msg.payload.XaxisSD}}","layout":"col-center","x":620,"y":420,"wires":[]},{"id":"cf6ceefb.c62ce","type":"comment","z":"efd4a8c3.758968","name":"Paste this in slave","info":"","x":910,"y":60,"wires":[]},{"id":"cc6f4602.196db8","type":"json","z":"efd4a8c3.758968","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":120,"wires":[["1fd27676.bccc6a"]]},{"id":"1fd27676.bccc6a","type":"tcp out","z":"efd4a8c3.758968","host":"172.24.189.174","port":"6900","beserver":"client","base64":false,"end":false,"name":"","x":1250,"y":120,"wires":[]},{"id":"77b32c94.adfa04","type":"function","z":"efd4a8c3.758968","name":"","func":"var averageXaxis = msg.payload.averageXaxis;\nvar averageYaxis = msg.payload.averageYaxis;\nvar averageZaxis = msg.payload.averageZaxis;\nvar XaxisSD = msg.payload.XaxisSD;\nvar YaxisSD = msg.payload.YaxisSD;\nvar ZaxisSD = msg.payload.ZaxisSD;\n\nmsg.payload={\"averageXaxis\":averageXaxis,\"averageYaxis\":averageYaxis,\"averageZaxis\":averageZaxis,\"XaxisSD\":XaxisSD,\"YaxisSD\":YaxisSD,\"ZaxisSD\":ZaxisSD,\"Asset\":\"X Axis\"};\n//node.send({\"payload\":{\"averageXaxis\":averageXaxis,\"averageYaxis\":averageYaxis,\"averageZaxis\":averageZaxis,\"XaxisSD\":XaxisSD,\"YaxisSD\":YaxisSD,\"ZaxisSD\":ZaxisSD,\"Asset\":\"X Axis\"}})\n//node.send({\"averageXaxis\":averageXaxis,\"averageYaxis\":averageYaxis,\"averageZaxis\":averageZaxis,\"XaxisSD\":XaxisSD,\"YaxisSD\":YaxisSD,\"ZaxisSD\":ZaxisSD,\"Asset\":\"X Axis\"});\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":120,"wires":[["cc6f4602.196db8"]]},{"id":"ca156b05.ab9fa8","type":"ping","z":"efd4a8c3.758968","mode":null,"name":"","host":"172.24.189.173","timer":"20","inputs":0,"x":160,"y":500,"wires":[["5c7adaf1.0bb904"]]},{"id":"5c7adaf1.0bb904","type":"function","z":"efd4a8c3.758968","name":"","func":"var IP=msg.topic;\nif(msg.payload===false)\n{\n    msg.payload=\"Disconnected\";\n}\nelse\n{\n     msg.payload=\"Connected\";\n}\nvar msg2 = {};\nvar time_1 = new Date();\nvar time = time_1.getTime()\n\nmsg2.payload = \"   Date : \"+new Date(time).toLocaleString() \n\nreturn [msg,msg2];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":380,"y":500,"wires":[["199ac28.7135c3e"],["6f248e8.47a0b7"]]},{"id":"199ac28.7135c3e","type":"ui_text","z":"efd4a8c3.758968","group":"9c63c6e9.05f2b8","order":2,"width":6,"height":"2","name":"","label":"Status :","format":"{{msg.payload}}","layout":"col-center","x":620,"y":480,"wires":[]},{"id":"6f248e8.47a0b7","type":"ui_text","z":"efd4a8c3.758968","group":"9c63c6e9.05f2b8","order":3,"width":"6","height":"2","name":"","label":"Last Updated : ","format":"{{msg.payload}}","layout":"col-center","x":640,"y":540,"wires":[]},{"id":"9c63c6e9.05f2b8","type":"ui_group","name":"X-axis","tab":"b246ca93.c82738","order":4,"disp":true,"width":"12","collapse":false},{"id":"b246ca93.c82738","type":"ui_tab","name":"LVD Laser - 02 CBM Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]