WcsCurrentLogic.json
[{"id":"18bcbc3b.1ff3f4","type":"inject","z":"f04d5760.41b878","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["1b4c45c7.4bd1ea","8fa2ba58.73e618","e4281a8c.7cf1e8","4d204c1f.614a64","1b667fce.b63c9","f5564b83.60b818","86995d5a.223a2","299ea6d9.a19b7a"]]},{"id":"1b4c45c7.4bd1ea","type":"function","z":"f04d5760.41b878","name":"I1","func":"flow.set(\"op1sum\", flow.get(\"op1sum\") + flow.get(\"op1\")*flow.get(\"op1\"))\nflow.set(\"op1counter\", flow.get(\"op1counter\") + 1)\n\nif(flow.get(\"op1counter\") == 10)\n{\n    global.set(\"I1\", Math.sqrt(flow.get(\"op1sum\")/10).toFixed(2))\n    msg.payload = global.get(\"I1\")\n    flow.set(\"op1sum\", 0)\n    flow.set(\"op1counter\", 0)\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":460,"wires":[["c7a8c528.0ddcf8","70303da5.706934"]]},{"id":"a1d6e744.aa6798","type":"inject","z":"f04d5760.41b878","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["f594ca9e.26d628"]]},{"id":"f594ca9e.26d628","type":"function","z":"f04d5760.41b878","name":"","func":"flow.set(\"op1sum\", 0)\nflow.set(\"op1counter\", 0)\n\nflow.set(\"op2sum\", 0)\nflow.set(\"op2counter\", 0)\n\nflow.set(\"op3sum\", 0)\nflow.set(\"op3counter\", 0)\n\nflow.set(\"op4sum\", 0)\nflow.set(\"op4counter\", 0)\n\nflow.set(\"op5sum\", 0)\nflow.set(\"op5counter\", 0)\n\nflow.set(\"op6sum\", 0)\nflow.set(\"op6counter\", 0)\n\nflow.set(\"op7sum\", 0)\nflow.set(\"op7counter\", 0)\n\nflow.set(\"op8sum\", 0)\nflow.set(\"op8counter\", 0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[[]]},{"id":"c7a8c528.0ddcf8","type":"ui_text","z":"f04d5760.41b878","group":"e563ec55.cac89","order":0,"width":"6","height":"1","name":"","label":"I1","format":"{{msg.payload}}","layout":"row-left","x":510,"y":460,"wires":[]},{"id":"22289c21.06ecc4","type":"serial in","z":"f04d5760.41b878","name":"","serial":"b01f8a51.4ee108","x":130,"y":380,"wires":[["7a843c5.4927cc4"]]},{"id":"7a843c5.4927cc4","type":"json","z":"f04d5760.41b878","name":"","property":"payload","action":"","pretty":false,"x":310,"y":380,"wires":[["c8ad8148.4e073","6b0eae9d.b1b8c"]]},{"id":"6b0eae9d.b1b8c","type":"debug","z":"f04d5760.41b878","name":"current","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":320,"wires":[]},{"id":"c8ad8148.4e073","type":"function","z":"f04d5760.41b878","name":"","func":"flow.set(\"op1\", msg.payload.op1)\nflow.set(\"op2\", msg.payload.op2)\nflow.set(\"op3\", msg.payload.op3)\nflow.set(\"op4\", msg.payload.op4)\nflow.set(\"op5\", msg.payload.op5)\nflow.set(\"op6\", msg.payload.op6)\nflow.set(\"op7\", msg.payload.op7)\nflow.set(\"op8\", msg.payload.op8)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":380,"wires":[[]]},{"id":"8fa2ba58.73e618","type":"function","z":"f04d5760.41b878","name":"I2","func":"flow.set(\"op2sum\", flow.get(\"op2sum\") + flow.get(\"op2\")*flow.get(\"op2\"))\nflow.set(\"op2counter\", flow.get(\"op2counter\") + 1)\n\nif(flow.get(\"op2counter\") == 10)\n{\n    global.set(\"I2\", Math.sqrt(flow.get(\"op2sum\")/10).toFixed(2))\n    msg.payload = global.get(\"I2\")\n    flow.set(\"op2sum\", 0)\n    flow.set(\"op2counter\", 0)\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":500,"wires":[["2dba7cd6.3d0e44"]]},{"id":"2dba7cd6.3d0e44","type":"ui_text","z":"f04d5760.41b878","group":"e563ec55.cac89","order":0,"width":"6","height":"1","name":"","label":"I2","format":"{{msg.payload}}","layout":"row-left","x":510,"y":500,"wires":[]},{"id":"70303da5.706934","type":"debug","z":"f04d5760.41b878","name":"current","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":400,"wires":[]},{"id":"e563ec55.cac89","type":"ui_group","name":"testing","tab":"e0c30ada.e6aa08","order":1,"disp":true,"width":"24","collapse":false},{"id":"b01f8a51.4ee108","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e0c30ada.e6aa08","type":"ui_tab","name":"Testing","icon":"dashboard","order":4,"disabled":false,"hidden":false}]